# TRTR Dataset F

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = "EVALUATION FUNCTIONS/UTILITY"
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TRAIN DATASETS/F_IndianLiverPatient_Real_Train.csv')
categorical_columns = ['gender','class']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

     age  gender   TB   DB  alkphos  sgpt   sgot   TP  ALB   A_G class
0     68  Female  0.6  0.1   1620.0  95.0  127.0  4.6  2.1  0.80   1.0
1     31    Male  1.3  0.5    184.0  29.0   32.0  6.8  3.4  1.00   1.0
2     28    Male  0.8  0.3    190.0  20.0   14.0  4.1  2.4  1.40   1.0
3     60    Male  2.3  0.6    272.0  79.0   51.0  6.6  3.5  1.10   1.0
4     48  Female  0.9  0.2    173.0  26.0   27.0  6.2  3.1  1.00   1.0
..   ...     ...  ...  ...      ...   ...    ...  ...  ...   ...   ...
461   75  Female  0.8  0.2    188.0  20.0   29.0  4.4  1.8  0.60   1.0
462   36    Male  5.3  2.3    145.0  32.0   92.0  5.1  2.6  1.00   2.0
463   37    Male  0.7  0.2    235.0  96.0   54.0  9.5  4.9  1.00   1.0
464   17  Female  0.5  0.1    206.0  28.0   21.0  7.1  4.5  1.70   2.0
465   17    Male  0.9  0.2    224.0  36.0   45.0  6.9  4.2  1.55   1.0

[466 rows x 11 columns]

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/F_IndianLiverPatient_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

     age  gender    TB   DB  alkphos   sgpt   sgot   TP  ALB        A_G class
0     19    Male   1.4  0.8    178.0   13.0   26.0  8.0  4.6       1.30   2.0
1     12    Male   1.0  0.2    719.0  157.0  108.0  7.2  3.7       1.00   1.0
2     60    Male   5.7  2.8    214.0  412.0  850.0  7.3  3.2       0.78   1.0
3     42  Female   0.5  0.1    162.0  155.0  108.0  8.1  4.0       0.90   1.0
4     40    Male  14.5  6.4    358.0   50.0   75.0  5.7  2.1       0.50   1.0
..   ...     ...   ...  ...      ...    ...    ...  ...  ...        ...   ...
112   60    Male   0.9  0.3    168.0   16.0   24.0  6.7  3.0       0.80   1.0
113   54  Female   1.4  0.7    195.0   36.0   16.0  7.9  3.7       0.90   2.0
114   47  Female   3.0  1.5    292.0   64.0   67.0  5.6  1.8       0.47   1.0
115   27    Male   1.3  0.6    106.0   25.0   54.0  8.5  4.8 -100000.00   2.0
116   21    Male   0.7  0.2    211.0   14.0   23.0  7.3  4.1       1.20   2.0

[117 rows x 11 columns]

In [5]:
target = 'class'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(466, 11)
class
1.0    329
2.0    137
dtype: int64
#####################################
Test data
(117, 11)
class
1.0    87
2.0    30
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'class'
categorical_columns = ['gender']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((466, 11), (466,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((117, 11), (117,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.7607     0.7426  0.7607  0.7475

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.7436     0.7018  0.7436  0.7007

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.7179     0.7475  0.7179  0.7287

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.6581     0.6801  0.6581  0.6676

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.67684747
Iteration 2, loss = 0.62090094
Iteration 3, loss = 0.58824317
Iteration 4, loss = 0.57354684
Iteration 5, loss = 0.56279411
Iteration 6, loss = 0.55452898
Iteration 7, loss = 0.54609816
Iteration 8, loss = 0.53939953
Iteration 9, loss = 0.53355816
Iteration 10, loss = 0.52847297
Iteration 11, loss = 0.52400344
Iteration 12, loss = 0.51974075
Iteration 13, loss = 0.51606170
Iteration 14, loss = 0.51218961
Iteration 15, loss = 0.50860828
Iteration 16, loss = 0.50581889
Iteration 17, loss = 0.50338018
Iteration 18, loss = 0.50140738
Iteration 19, loss = 0.49883992
Iteration 20, loss = 0.49603732
Iteration 21, loss = 0.49370245
Iteration 22, loss = 0.49137711
Iteration 23, loss = 0.48942830
Iteration 24, loss = 0.48785787
Iteration 25, loss = 0.48697543
Iteration 26, loss = 0.48481880
Iteration 27, loss = 0.48225034
Iteration 28, loss = 0.48094626
Iteration 29, loss = 0.47879157
Iteration 30, loss = 0.47691087
Iteration 31, loss = 0.47542083
Iteration 32, loss = 0.47366905
Iteration 33, loss = 0.47197920
Iteration 34, loss = 0.47044233
Iteration 35, loss = 0.46854968
Iteration 36, loss = 0.46705413
Iteration 37, loss = 0.46573184
Iteration 38, loss = 0.46501385
Iteration 39, loss = 0.46214404
Iteration 40, loss = 0.46191452
Iteration 41, loss = 0.45979586
Iteration 42, loss = 0.45686607
Iteration 43, loss = 0.45704165
Iteration 44, loss = 0.45780731
Iteration 45, loss = 0.45310529
Iteration 46, loss = 0.45159431
Iteration 47, loss = 0.44980694
Iteration 48, loss = 0.44797377
Iteration 49, loss = 0.44837914
Iteration 50, loss = 0.44533795
Iteration 51, loss = 0.44455874
Iteration 52, loss = 0.44392555
Iteration 53, loss = 0.43846378
Iteration 54, loss = 0.43660961
Iteration 55, loss = 0.43619986
Iteration 56, loss = 0.43271781
Iteration 57, loss = 0.43081367
Iteration 58, loss = 0.42975715
Iteration 59, loss = 0.42783343
Iteration 60, loss = 0.42596277
Iteration 61, loss = 0.42396416
Iteration 62, loss = 0.42315172
Iteration 63, loss = 0.41922694
Iteration 64, loss = 0.41700231
Iteration 65, loss = 0.41523662
Iteration 66, loss = 0.41246564
Iteration 67, loss = 0.41044091
Iteration 68, loss = 0.40900772
Iteration 69, loss = 0.40664081
Iteration 70, loss = 0.40415945
Iteration 71, loss = 0.40169395
Iteration 72, loss = 0.40100788
Iteration 73, loss = 0.39736985
Iteration 74, loss = 0.39573517
Iteration 75, loss = 0.39255465
Iteration 76, loss = 0.39247388
Iteration 77, loss = 0.39117396
Iteration 78, loss = 0.38801219
Iteration 79, loss = 0.38524729
Iteration 80, loss = 0.38176476
Iteration 81, loss = 0.38663751
Iteration 82, loss = 0.37885866
Iteration 83, loss = 0.38062504
Iteration 84, loss = 0.37531885
Iteration 85, loss = 0.37691519
Iteration 86, loss = 0.37022002
Iteration 87, loss = 0.37630248
Iteration 88, loss = 0.36404952
Iteration 89, loss = 0.37280775
Iteration 90, loss = 0.36448533
Iteration 91, loss = 0.36602898
Iteration 92, loss = 0.35686593
Iteration 93, loss = 0.35700786
Iteration 94, loss = 0.35304760
Iteration 95, loss = 0.35388920
Iteration 96, loss = 0.35066218
Iteration 97, loss = 0.34682452
Iteration 98, loss = 0.34388887
Iteration 99, loss = 0.34186292
Iteration 100, loss = 0.33792748
Iteration 101, loss = 0.33727605
Iteration 102, loss = 0.33367728
Iteration 103, loss = 0.33331542
Iteration 104, loss = 0.32974956
Iteration 105, loss = 0.32680317
Iteration 106, loss = 0.32512713
Iteration 107, loss = 0.32074695
Iteration 108, loss = 0.31943870
Iteration 109, loss = 0.31620732
Iteration 110, loss = 0.31512044
Iteration 111, loss = 0.31588572
Iteration 112, loss = 0.31241378
Iteration 113, loss = 0.31097437
Iteration 114, loss = 0.30368534
Iteration 115, loss = 0.30157078
Iteration 116, loss = 0.30126711
Iteration 117, loss = 0.30265387
Iteration 118, loss = 0.29754477
Iteration 119, loss = 0.30400718
Iteration 120, loss = 0.29345038
Iteration 121, loss = 0.29519141
Iteration 122, loss = 0.28794483
Iteration 123, loss = 0.29190750
Iteration 124, loss = 0.28501819
Iteration 125, loss = 0.28202392
Iteration 126, loss = 0.27901103
Iteration 127, loss = 0.27672307
Iteration 128, loss = 0.27222560
Iteration 129, loss = 0.27501568
Iteration 130, loss = 0.26954990
Iteration 131, loss = 0.26877260
Iteration 132, loss = 0.26744462
Iteration 133, loss = 0.26197399
Iteration 134, loss = 0.26774090
Iteration 135, loss = 0.26135526
Iteration 136, loss = 0.25405003
Iteration 137, loss = 0.26367515
Iteration 138, loss = 0.25260953
Iteration 139, loss = 0.25052146
Iteration 140, loss = 0.24852795
Iteration 141, loss = 0.24831557
Iteration 142, loss = 0.24565994
Iteration 143, loss = 0.24154163
Iteration 144, loss = 0.24138337
Iteration 145, loss = 0.23968146
Iteration 146, loss = 0.24140217
Iteration 147, loss = 0.23847435
Iteration 148, loss = 0.23530102
Iteration 149, loss = 0.22946109
Iteration 150, loss = 0.24378387
Iteration 151, loss = 0.23135877
Iteration 152, loss = 0.22853977
Iteration 153, loss = 0.23078969
Iteration 154, loss = 0.22095333
Iteration 155, loss = 0.23109157
Iteration 156, loss = 0.21837648
Iteration 157, loss = 0.22028743
Iteration 158, loss = 0.22035549
Iteration 159, loss = 0.21424214
Iteration 160, loss = 0.21475738
Iteration 161, loss = 0.20825343
Iteration 162, loss = 0.20692628
Iteration 163, loss = 0.20394537
Iteration 164, loss = 0.20111014
Iteration 165, loss = 0.20095453
Iteration 166, loss = 0.20054028
Iteration 167, loss = 0.19747202
Iteration 168, loss = 0.19598550
Iteration 169, loss = 0.19676974
Iteration 170, loss = 0.19708761
Iteration 171, loss = 0.19217094
Iteration 172, loss = 0.18677773
Iteration 173, loss = 0.18703609
Iteration 174, loss = 0.18588035
Iteration 175, loss = 0.18249933
Iteration 176, loss = 0.18406269
Iteration 177, loss = 0.18194511
Iteration 178, loss = 0.17751456
Iteration 179, loss = 0.18284033
Iteration 180, loss = 0.17832380
Iteration 181, loss = 0.17381455
Iteration 182, loss = 0.17605125
Iteration 183, loss = 0.17350239
Iteration 184, loss = 0.17865344
Iteration 185, loss = 0.17766027
Iteration 186, loss = 0.17998917
Iteration 187, loss = 0.16168196
Iteration 188, loss = 0.18046127
Iteration 189, loss = 0.17936317
Iteration 190, loss = 0.17207671
Iteration 191, loss = 0.16567150
Iteration 192, loss = 0.17266944
Iteration 193, loss = 0.16843109
Iteration 194, loss = 0.15598825
Iteration 195, loss = 0.15616977
Iteration 196, loss = 0.15909092
Iteration 197, loss = 0.15573447
Iteration 198, loss = 0.15113466
Iteration 199, loss = 0.14905611
Iteration 200, loss = 0.15280387
Iteration 201, loss = 0.14562627
Iteration 202, loss = 0.14389750
Iteration 203, loss = 0.14231334
Iteration 204, loss = 0.14162921
Iteration 205, loss = 0.14473908
Iteration 206, loss = 0.14191284
Iteration 207, loss = 0.14306940
Iteration 208, loss = 0.14125512
Iteration 209, loss = 0.14801033
Iteration 210, loss = 0.13786361
Iteration 211, loss = 0.14698319
Iteration 212, loss = 0.13179953
Iteration 213, loss = 0.13268504
Iteration 214, loss = 0.12795576
Iteration 215, loss = 0.13220341
Iteration 216, loss = 0.12893879
Iteration 217, loss = 0.12799867
Iteration 218, loss = 0.12430872
Iteration 219, loss = 0.12261512
Iteration 220, loss = 0.12467420
Iteration 221, loss = 0.12962716
Iteration 222, loss = 0.12802834
Iteration 223, loss = 0.11900278
Iteration 224, loss = 0.12889021
Iteration 225, loss = 0.12230294
Iteration 226, loss = 0.13564072
Iteration 227, loss = 0.12842548
Iteration 228, loss = 0.12224341
Iteration 229, loss = 0.12361260
Iteration 230, loss = 0.12285873
Iteration 231, loss = 0.11136107
Iteration 232, loss = 0.11417213
Iteration 233, loss = 0.10943333
Iteration 234, loss = 0.10983158
Iteration 235, loss = 0.11097087
Iteration 236, loss = 0.10968632
Iteration 237, loss = 0.10201144
Iteration 238, loss = 0.11318616
Iteration 239, loss = 0.11057118
Iteration 240, loss = 0.10766616
Iteration 241, loss = 0.10169733
Iteration 242, loss = 0.10619772
Iteration 243, loss = 0.11322898
Iteration 244, loss = 0.10858673
Iteration 245, loss = 0.09912899
Iteration 246, loss = 0.10248126
Iteration 247, loss = 0.10105911
Iteration 248, loss = 0.10178917
Iteration 249, loss = 0.10719033
Iteration 250, loss = 0.10152414
Iteration 251, loss = 0.10332652
Iteration 252, loss = 0.09709987
Iteration 253, loss = 0.09567243
Iteration 254, loss = 0.08915604
Iteration 255, loss = 0.09201349
Iteration 256, loss = 0.09421535
Iteration 257, loss = 0.09218254
Iteration 258, loss = 0.09684618
Iteration 259, loss = 0.08961444
Iteration 260, loss = 0.09446925
Iteration 261, loss = 0.08790131
Iteration 262, loss = 0.08939892
Iteration 263, loss = 0.08822077
Iteration 264, loss = 0.09403138
Iteration 265, loss = 0.08688092
Iteration 266, loss = 0.09277440
Iteration 267, loss = 0.09541135
Iteration 268, loss = 0.09024705
Iteration 269, loss = 0.08548965
Iteration 270, loss = 0.09267999
Iteration 271, loss = 0.08985033
Iteration 272, loss = 0.09195042
Iteration 273, loss = 0.08735192
Iteration 274, loss = 0.07954082
Iteration 275, loss = 0.08067109
Iteration 276, loss = 0.07650995
Iteration 277, loss = 0.08377020
Iteration 278, loss = 0.07707321
Iteration 279, loss = 0.07674919
Iteration 280, loss = 0.07723468
Iteration 281, loss = 0.07304240
Iteration 282, loss = 0.07556999
Iteration 283, loss = 0.08032555
Iteration 284, loss = 0.07301000
Iteration 285, loss = 0.07191761
Iteration 286, loss = 0.06983139
Iteration 287, loss = 0.07153136
Iteration 288, loss = 0.06884587
Iteration 289, loss = 0.07108800
Iteration 290, loss = 0.06753022
Iteration 291, loss = 0.06817251
Iteration 292, loss = 0.06851664
Iteration 293, loss = 0.06906039
Iteration 294, loss = 0.06909832
Iteration 295, loss = 0.06831138
Iteration 296, loss = 0.06749041
Iteration 297, loss = 0.06425962
Iteration 298, loss = 0.06575291
Iteration 299, loss = 0.06792926
Iteration 300, loss = 0.06640261

  model  accuracy  precision  recall      f1
0   MLP    0.7265     0.7388  0.7265  0.7318

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_real.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.7607     0.7426  0.7607  0.7475
1   KNN    0.7436     0.7018  0.7436  0.7007
2    DT    0.7179     0.7475  0.7179  0.7287
3   SVM    0.6581     0.6801  0.6581  0.6676
4   MLP    0.7265     0.7388  0.7265  0.7318