# TSTR GM Dataset E

In [2]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [3]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [4]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/GM/E_PimaIndiansDiabetes_Synthetic_GM.csv')
categorical_columns = ['Outcome']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,11,140,67,-6,139,21.454652,0.138648,45,0
1,0,111,63,0,108,23.818868,0.347041,25,0
2,5,88,77,14,-64,27.547578,0.331241,63,1
3,3,94,79,25,120,32.149746,0.164218,38,1
4,9,131,0,29,244,30.608647,0.296024,25,1
...,...,...,...,...,...,...,...,...,...
609,4,132,64,37,-43,40.607103,0.863559,42,1
610,7,114,79,20,-7,29.984722,0.427422,21,0
611,1,68,71,1,-89,23.307341,0.261145,22,0
612,6,97,73,32,257,27.208406,0.176116,29,0
613,7,109,69,4,104,36.714954,0.514602,28,0

In [6]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/E_PimaIndiansDiabetes_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0
...,...,...,...,...,...,...,...,...,...
149,9,165,88,0,0,30.4,0.302,49,1
150,1,77,56,30,56,33.3,1.251,24,0
151,8,95,72,0,0,36.8,0.485,57,0
152,2,146,70,38,360,28.0,0.337,29,1
153,8,74,70,40,49,35.3,0.705,39,0

In [7]:
target = 'Outcome'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(614, 9)
Outcome
0    378
1    236
dtype: int64
#####################################
Test data
(154, 9)
Outcome
0    99
1    55
dtype: int64

## 2. Pre-process training data

In [8]:
target = 'Outcome'
categorical_columns = None
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = None

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((614, 8), (614,))

## 3. Preprocess test data

In [9]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((154, 8), (154,))

## 4. Create a dataset to save the results

In [10]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [11]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.7013      0.692  0.7013  0.6935

## 5. Train and Evaluate KNeighbors Classifier

In [12]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.6688     0.6496  0.6688  0.6456

## 6. Train and evaluate Decision Tree Classifier

In [13]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.5649     0.5844  0.5649  0.5719

## 7. Train and evaluate Support Vector Machines Classifier

In [14]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.4286     0.5013  0.4286  0.4306

## 8. Train and evaluate Multilayer Perceptron Classifier

In [15]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.68484064
Iteration 2, loss = 0.65541569
Iteration 3, loss = 0.63949780
Iteration 4, loss = 0.62799095
Iteration 5, loss = 0.61885416
Iteration 6, loss = 0.60772454
Iteration 7, loss = 0.59656989
Iteration 8, loss = 0.58602534
Iteration 9, loss = 0.57833457
Iteration 10, loss = 0.57322182
Iteration 11, loss = 0.56910037
Iteration 12, loss = 0.56552303
Iteration 13, loss = 0.56296187
Iteration 14, loss = 0.55927641
Iteration 15, loss = 0.55721027
Iteration 16, loss = 0.55435083
Iteration 17, loss = 0.55176047
Iteration 18, loss = 0.55064236
Iteration 19, loss = 0.55039598
Iteration 20, loss = 0.54813922
Iteration 21, loss = 0.54510657
Iteration 22, loss = 0.54297334
Iteration 23, loss = 0.53980042
Iteration 24, loss = 0.53779050
Iteration 25, loss = 0.53561530
Iteration 26, loss = 0.53511512
Iteration 27, loss = 0.53031604
Iteration 28, loss = 0.52822206
Iteration 29, loss = 0.52702815
Iteration 30, loss = 0.52463749
Iteration 31, loss = 0.52716848
Iteration 32, loss = 0.52810250
Iteration 33, loss = 0.52333376
Iteration 34, loss = 0.51756369
Iteration 35, loss = 0.51706805
Iteration 36, loss = 0.51664103
Iteration 37, loss = 0.51301731
Iteration 38, loss = 0.51332644
Iteration 39, loss = 0.51588247
Iteration 40, loss = 0.51213505
Iteration 41, loss = 0.50977787
Iteration 42, loss = 0.50669464
Iteration 43, loss = 0.50067740
Iteration 44, loss = 0.50411961
Iteration 45, loss = 0.50283433
Iteration 46, loss = 0.49840625
Iteration 47, loss = 0.49496842
Iteration 48, loss = 0.49494632
Iteration 49, loss = 0.49298795
Iteration 50, loss = 0.48997448
Iteration 51, loss = 0.48939138
Iteration 52, loss = 0.48801220
Iteration 53, loss = 0.48663245
Iteration 54, loss = 0.48276657
Iteration 55, loss = 0.47886822
Iteration 56, loss = 0.47744373
Iteration 57, loss = 0.47865123
Iteration 58, loss = 0.47475994
Iteration 59, loss = 0.47050914
Iteration 60, loss = 0.47330979
Iteration 61, loss = 0.46957933
Iteration 62, loss = 0.46237470
Iteration 63, loss = 0.46254201
Iteration 64, loss = 0.46015847
Iteration 65, loss = 0.46331407
Iteration 66, loss = 0.46090399
Iteration 67, loss = 0.45963116
Iteration 68, loss = 0.45732767
Iteration 69, loss = 0.45424636
Iteration 70, loss = 0.45222831
Iteration 71, loss = 0.45062222
Iteration 72, loss = 0.45130036
Iteration 73, loss = 0.45101483
Iteration 74, loss = 0.44567912
Iteration 75, loss = 0.44509682
Iteration 76, loss = 0.44000333
Iteration 77, loss = 0.43487766
Iteration 78, loss = 0.43729433
Iteration 79, loss = 0.43656215
Iteration 80, loss = 0.43605022
Iteration 81, loss = 0.43007758
Iteration 82, loss = 0.42208771
Iteration 83, loss = 0.42277664
Iteration 84, loss = 0.42356493
Iteration 85, loss = 0.42159133
Iteration 86, loss = 0.41663655
Iteration 87, loss = 0.41532418
Iteration 88, loss = 0.41597921
Iteration 89, loss = 0.41240207
Iteration 90, loss = 0.41257405
Iteration 91, loss = 0.41401277
Iteration 92, loss = 0.41397325
Iteration 93, loss = 0.40270857
Iteration 94, loss = 0.40526698
Iteration 95, loss = 0.40160155
Iteration 96, loss = 0.39816402
Iteration 97, loss = 0.40332796
Iteration 98, loss = 0.39660824
Iteration 99, loss = 0.39173869
Iteration 100, loss = 0.38811505
Iteration 101, loss = 0.38040586
Iteration 102, loss = 0.38055861
Iteration 103, loss = 0.37524637
Iteration 104, loss = 0.37418621
Iteration 105, loss = 0.37912629
Iteration 106, loss = 0.36914412
Iteration 107, loss = 0.37619072
Iteration 108, loss = 0.36695207
Iteration 109, loss = 0.37181009
Iteration 110, loss = 0.36962978
Iteration 111, loss = 0.35928779
Iteration 112, loss = 0.36698560
Iteration 113, loss = 0.35943220
Iteration 114, loss = 0.34737309
Iteration 115, loss = 0.34755008
Iteration 116, loss = 0.34282501
Iteration 117, loss = 0.34261930
Iteration 118, loss = 0.34192686
Iteration 119, loss = 0.33601227
Iteration 120, loss = 0.33151821
Iteration 121, loss = 0.32843542
Iteration 122, loss = 0.32567666
Iteration 123, loss = 0.32358117
Iteration 124, loss = 0.32100013
Iteration 125, loss = 0.31461030
Iteration 126, loss = 0.31356694
Iteration 127, loss = 0.31785819
Iteration 128, loss = 0.30829426
Iteration 129, loss = 0.31029250
Iteration 130, loss = 0.30973398
Iteration 131, loss = 0.30329974
Iteration 132, loss = 0.29831262
Iteration 133, loss = 0.29529945
Iteration 134, loss = 0.29424731
Iteration 135, loss = 0.29800762
Iteration 136, loss = 0.29626259
Iteration 137, loss = 0.28464344
Iteration 138, loss = 0.28109254
Iteration 139, loss = 0.27764170
Iteration 140, loss = 0.27582596
Iteration 141, loss = 0.27233320
Iteration 142, loss = 0.26909995
Iteration 143, loss = 0.26838583
Iteration 144, loss = 0.26874583
Iteration 145, loss = 0.26114466
Iteration 146, loss = 0.26203357
Iteration 147, loss = 0.26777518
Iteration 148, loss = 0.25553216
Iteration 149, loss = 0.25788304
Iteration 150, loss = 0.24850426
Iteration 151, loss = 0.24268955
Iteration 152, loss = 0.24514102
Iteration 153, loss = 0.23924055
Iteration 154, loss = 0.23237898
Iteration 155, loss = 0.23507868
Iteration 156, loss = 0.23351362
Iteration 157, loss = 0.23815006
Iteration 158, loss = 0.22557583
Iteration 159, loss = 0.23315792
Iteration 160, loss = 0.22488027
Iteration 161, loss = 0.21597072
Iteration 162, loss = 0.21263658
Iteration 163, loss = 0.21414040
Iteration 164, loss = 0.21118787
Iteration 165, loss = 0.22172378
Iteration 166, loss = 0.20826390
Iteration 167, loss = 0.20045903
Iteration 168, loss = 0.19563229
Iteration 169, loss = 0.18879530
Iteration 170, loss = 0.19290063
Iteration 171, loss = 0.19772613
Iteration 172, loss = 0.19344202
Iteration 173, loss = 0.18713634
Iteration 174, loss = 0.18443663
Iteration 175, loss = 0.18208778
Iteration 176, loss = 0.18091658
Iteration 177, loss = 0.17514835
Iteration 178, loss = 0.18013895
Iteration 179, loss = 0.17160967
Iteration 180, loss = 0.16530138
Iteration 181, loss = 0.16449018
Iteration 182, loss = 0.16983719
Iteration 183, loss = 0.16954379
Iteration 184, loss = 0.16046139
Iteration 185, loss = 0.16138564
Iteration 186, loss = 0.16099084
Iteration 187, loss = 0.15435449
Iteration 188, loss = 0.15583835
Iteration 189, loss = 0.15718689
Iteration 190, loss = 0.15144997
Iteration 191, loss = 0.14390941
Iteration 192, loss = 0.16730400
Iteration 193, loss = 0.13933308
Iteration 194, loss = 0.13912431
Iteration 195, loss = 0.14508786
Iteration 196, loss = 0.13232945
Iteration 197, loss = 0.13445831
Iteration 198, loss = 0.13216662
Iteration 199, loss = 0.13355379
Iteration 200, loss = 0.12143335
Iteration 201, loss = 0.12205369
Iteration 202, loss = 0.12089674
Iteration 203, loss = 0.11765772
Iteration 204, loss = 0.11424731
Iteration 205, loss = 0.11140734
Iteration 206, loss = 0.10820068
Iteration 207, loss = 0.10962962
Iteration 208, loss = 0.10580324
Iteration 209, loss = 0.10884339
Iteration 210, loss = 0.11120406
Iteration 211, loss = 0.10212195
Iteration 212, loss = 0.10925170
Iteration 213, loss = 0.10079486
Iteration 214, loss = 0.10000584
Iteration 215, loss = 0.09960705
Iteration 216, loss = 0.09117089
Iteration 217, loss = 0.09019418
Iteration 218, loss = 0.09251549
Iteration 219, loss = 0.08544650
Iteration 220, loss = 0.08481976
Iteration 221, loss = 0.09283744
Iteration 222, loss = 0.08412499
Iteration 223, loss = 0.07858978
Iteration 224, loss = 0.07721275
Iteration 225, loss = 0.07728857
Iteration 226, loss = 0.08023199
Iteration 227, loss = 0.07624918
Iteration 228, loss = 0.07718891
Iteration 229, loss = 0.08208671
Iteration 230, loss = 0.08869950
Iteration 231, loss = 0.07778850
Iteration 232, loss = 0.08318073
Iteration 233, loss = 0.09964831
Iteration 234, loss = 0.06916167
Iteration 235, loss = 0.07588163
Iteration 236, loss = 0.06851782
Iteration 237, loss = 0.06771309
Iteration 238, loss = 0.06589218
Iteration 239, loss = 0.06316717
Iteration 240, loss = 0.06119617
Iteration 241, loss = 0.06093954
Iteration 242, loss = 0.07250926
Iteration 243, loss = 0.05888472
Iteration 244, loss = 0.06160772
Iteration 245, loss = 0.05454737
Iteration 246, loss = 0.05386094
Iteration 247, loss = 0.05598600
Iteration 248, loss = 0.04965812
Iteration 249, loss = 0.05814997
Iteration 250, loss = 0.05212906
Iteration 251, loss = 0.04868635
Iteration 252, loss = 0.05228134
Iteration 253, loss = 0.05382790
Iteration 254, loss = 0.06147384
Iteration 255, loss = 0.05530759
Iteration 256, loss = 0.05056612
Iteration 257, loss = 0.05217010
Iteration 258, loss = 0.04989446
Iteration 259, loss = 0.04898956
Iteration 260, loss = 0.04473800
Iteration 261, loss = 0.04959774
Iteration 262, loss = 0.04644369
Iteration 263, loss = 0.04549693
Iteration 264, loss = 0.04237019
Iteration 265, loss = 0.03790405
Iteration 266, loss = 0.04634022
Iteration 267, loss = 0.04794084
Iteration 268, loss = 0.04270601
Iteration 269, loss = 0.05197705
Iteration 270, loss = 0.04348286
Iteration 271, loss = 0.04588362
Iteration 272, loss = 0.04370204
Iteration 273, loss = 0.04139264
Iteration 274, loss = 0.03787647
Iteration 275, loss = 0.03555474
Iteration 276, loss = 0.03708399
Iteration 277, loss = 0.03240755
Iteration 278, loss = 0.03713093
Iteration 279, loss = 0.04529708
Iteration 280, loss = 0.03387557
Iteration 281, loss = 0.03630828
Iteration 282, loss = 0.03585001
Iteration 283, loss = 0.03558912
Iteration 284, loss = 0.03493022
Iteration 285, loss = 0.03079953
Iteration 286, loss = 0.02822140
Iteration 287, loss = 0.02777000
Iteration 288, loss = 0.02602748
Iteration 289, loss = 0.02548050
Iteration 290, loss = 0.02477214
Iteration 291, loss = 0.02684573
Iteration 292, loss = 0.02393964
Iteration 293, loss = 0.02430229
Iteration 294, loss = 0.02331556
Iteration 295, loss = 0.02298370
Iteration 296, loss = 0.02442162
Iteration 297, loss = 0.02310857
Iteration 298, loss = 0.02424733
Iteration 299, loss = 0.02365094
Iteration 300, loss = 0.02335780

  model  accuracy  precision  recall      f1
0   MLP    0.6299     0.6314  0.6299  0.6306

## 9. Save results file

In [16]:
results.to_csv('RESULTS/models_results_gm.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.7013     0.6920  0.7013  0.6935
1   KNN    0.6688     0.6496  0.6688  0.6456
2    DT    0.5649     0.5844  0.5649  0.5719
3   SVM    0.4286     0.5013  0.4286  0.4306
4   MLP    0.6299     0.6314  0.6299  0.6306