# TSTR CTGAN Dataset E

In [2]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [3]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [4]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/CTGAN/E_PimaIndiansDiabetes_Synthetic_CTGAN.csv')
categorical_columns = ['Outcome']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,80,102,14,2,29.0,1.022,57,1
1,8,142,42,35,-16,42.8,0.114,23,1
2,1,116,66,12,-3,17.2,0.120,21,0
3,0,73,92,-2,39,22.8,0.293,56,1
4,0,213,67,2,268,24.2,0.503,29,1
...,...,...,...,...,...,...,...,...,...
609,5,130,73,11,586,36.5,0.562,55,1
610,0,139,73,9,-2,21.7,0.287,29,1
611,-1,77,57,29,-10,27.3,0.047,51,0
612,0,104,50,47,-11,36.6,0.847,59,1
613,6,81,44,54,163,23.2,0.108,23,1

In [5]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/E_PimaIndiansDiabetes_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0
...,...,...,...,...,...,...,...,...,...
149,9,165,88,0,0,30.4,0.302,49,1
150,1,77,56,30,56,33.3,1.251,24,0
151,8,95,72,0,0,36.8,0.485,57,0
152,2,146,70,38,360,28.0,0.337,29,1
153,8,74,70,40,49,35.3,0.705,39,0

In [6]:
target = 'Outcome'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(614, 9)
Outcome
0    211
1    403
dtype: int64
#####################################
Test data
(154, 9)
Outcome
0    99
1    55
dtype: int64

## 2. Pre-process training data

In [7]:
target = 'Outcome'
categorical_columns = None
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = None

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((614, 8), (614,))

## 3. Preprocess test data

In [8]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((154, 8), (154,))

## 4. Create a dataset to save the results

In [9]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [10]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall     f1
0    RF    0.4481     0.7106  0.4481  0.374

## 5. Train and Evaluate KNeighbors Classifier

In [11]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN     0.474     0.6214   0.474  0.4471

## 6. Train and evaluate Decision Tree Classifier

In [12]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.4351     0.5737  0.4351  0.3975

## 7. Train and evaluate Support Vector Machines Classifier

In [13]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.2662     0.3038  0.2662  0.2813

## 8. Train and evaluate Multilayer Perceptron Classifier

In [14]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.66525092
Iteration 2, loss = 0.62842573
Iteration 3, loss = 0.61250394
Iteration 4, loss = 0.60457144
Iteration 5, loss = 0.60035791
Iteration 6, loss = 0.59529669
Iteration 7, loss = 0.59059339
Iteration 8, loss = 0.58577982
Iteration 9, loss = 0.58251283
Iteration 10, loss = 0.57906775
Iteration 11, loss = 0.57642992
Iteration 12, loss = 0.57384669
Iteration 13, loss = 0.57114402
Iteration 14, loss = 0.56870136
Iteration 15, loss = 0.56530111
Iteration 16, loss = 0.56197226
Iteration 17, loss = 0.55872843
Iteration 18, loss = 0.55654354
Iteration 19, loss = 0.55367427
Iteration 20, loss = 0.55183118
Iteration 21, loss = 0.54857647
Iteration 22, loss = 0.54573532
Iteration 23, loss = 0.54285251
Iteration 24, loss = 0.54050451
Iteration 25, loss = 0.53826577
Iteration 26, loss = 0.53553356
Iteration 27, loss = 0.53413514
Iteration 28, loss = 0.53474493
Iteration 29, loss = 0.53066609
Iteration 30, loss = 0.52550152
Iteration 31, loss = 0.52302501
Iteration 32, loss = 0.52082901
Iteration 33, loss = 0.51908471
Iteration 34, loss = 0.51787647
Iteration 35, loss = 0.51662443
Iteration 36, loss = 0.51400386
Iteration 37, loss = 0.51016865
Iteration 38, loss = 0.50719337
Iteration 39, loss = 0.50316967
Iteration 40, loss = 0.50091755
Iteration 41, loss = 0.50603674
Iteration 42, loss = 0.50198726
Iteration 43, loss = 0.49590527
Iteration 44, loss = 0.49294547
Iteration 45, loss = 0.49030892
Iteration 46, loss = 0.49396653
Iteration 47, loss = 0.49668352
Iteration 48, loss = 0.49394851
Iteration 49, loss = 0.49026302
Iteration 50, loss = 0.48782682
Iteration 51, loss = 0.48346689
Iteration 52, loss = 0.47874712
Iteration 53, loss = 0.47817553
Iteration 54, loss = 0.47625916
Iteration 55, loss = 0.47297388
Iteration 56, loss = 0.47270152
Iteration 57, loss = 0.47038275
Iteration 58, loss = 0.46499118
Iteration 59, loss = 0.46097737
Iteration 60, loss = 0.45799790
Iteration 61, loss = 0.45715996
Iteration 62, loss = 0.46014731
Iteration 63, loss = 0.45091346
Iteration 64, loss = 0.44604701
Iteration 65, loss = 0.44580969
Iteration 66, loss = 0.44140029
Iteration 67, loss = 0.43918377
Iteration 68, loss = 0.43626313
Iteration 69, loss = 0.43340432
Iteration 70, loss = 0.43428653
Iteration 71, loss = 0.43676071
Iteration 72, loss = 0.43039249
Iteration 73, loss = 0.42487020
Iteration 74, loss = 0.42126500
Iteration 75, loss = 0.41960162
Iteration 76, loss = 0.41881699
Iteration 77, loss = 0.42145131
Iteration 78, loss = 0.41934812
Iteration 79, loss = 0.41639442
Iteration 80, loss = 0.40841491
Iteration 81, loss = 0.40966158
Iteration 82, loss = 0.40415383
Iteration 83, loss = 0.40015461
Iteration 84, loss = 0.39869488
Iteration 85, loss = 0.39569104
Iteration 86, loss = 0.39834058
Iteration 87, loss = 0.39212008
Iteration 88, loss = 0.39709330
Iteration 89, loss = 0.38793837
Iteration 90, loss = 0.38400560
Iteration 91, loss = 0.37925687
Iteration 92, loss = 0.37365649
Iteration 93, loss = 0.37020472
Iteration 94, loss = 0.36528869
Iteration 95, loss = 0.36722882
Iteration 96, loss = 0.36319720
Iteration 97, loss = 0.36253183
Iteration 98, loss = 0.35381577
Iteration 99, loss = 0.34924506
Iteration 100, loss = 0.34950760
Iteration 101, loss = 0.35117866
Iteration 102, loss = 0.34688767
Iteration 103, loss = 0.34257028
Iteration 104, loss = 0.34075813
Iteration 105, loss = 0.34024586
Iteration 106, loss = 0.33186279
Iteration 107, loss = 0.32615707
Iteration 108, loss = 0.32905152
Iteration 109, loss = 0.32982044
Iteration 110, loss = 0.32400605
Iteration 111, loss = 0.31555190
Iteration 112, loss = 0.31265416
Iteration 113, loss = 0.31328060
Iteration 114, loss = 0.31226786
Iteration 115, loss = 0.30873498
Iteration 116, loss = 0.30571639
Iteration 117, loss = 0.30156120
Iteration 118, loss = 0.31038544
Iteration 119, loss = 0.29395679
Iteration 120, loss = 0.30787815
Iteration 121, loss = 0.28642130
Iteration 122, loss = 0.28231335
Iteration 123, loss = 0.28265881
Iteration 124, loss = 0.27803161
Iteration 125, loss = 0.27315824
Iteration 126, loss = 0.27563729
Iteration 127, loss = 0.27404433
Iteration 128, loss = 0.26796484
Iteration 129, loss = 0.26230075
Iteration 130, loss = 0.26330986
Iteration 131, loss = 0.26601387
Iteration 132, loss = 0.25602034
Iteration 133, loss = 0.24413961
Iteration 134, loss = 0.24619846
Iteration 135, loss = 0.24982394
Iteration 136, loss = 0.23937927
Iteration 137, loss = 0.23991097
Iteration 138, loss = 0.23264432
Iteration 139, loss = 0.23112802
Iteration 140, loss = 0.22786494
Iteration 141, loss = 0.22255937
Iteration 142, loss = 0.23118608
Iteration 143, loss = 0.22869903
Iteration 144, loss = 0.25278292
Iteration 145, loss = 0.22724878
Iteration 146, loss = 0.22372948
Iteration 147, loss = 0.21471222
Iteration 148, loss = 0.20647363
Iteration 149, loss = 0.21149427
Iteration 150, loss = 0.20005817
Iteration 151, loss = 0.21038536
Iteration 152, loss = 0.20436509
Iteration 153, loss = 0.19685754
Iteration 154, loss = 0.18843017
Iteration 155, loss = 0.18584032
Iteration 156, loss = 0.18964351
Iteration 157, loss = 0.18419089
Iteration 158, loss = 0.18007450
Iteration 159, loss = 0.18010070
Iteration 160, loss = 0.17692380
Iteration 161, loss = 0.17409676
Iteration 162, loss = 0.16619604
Iteration 163, loss = 0.16857321
Iteration 164, loss = 0.16749531
Iteration 165, loss = 0.16015335
Iteration 166, loss = 0.16398049
Iteration 167, loss = 0.16747491
Iteration 168, loss = 0.15669308
Iteration 169, loss = 0.15442102
Iteration 170, loss = 0.14545701
Iteration 171, loss = 0.14393652
Iteration 172, loss = 0.14313234
Iteration 173, loss = 0.14206469
Iteration 174, loss = 0.14169968
Iteration 175, loss = 0.13437294
Iteration 176, loss = 0.14235352
Iteration 177, loss = 0.13929744
Iteration 178, loss = 0.14126868
Iteration 179, loss = 0.13328013
Iteration 180, loss = 0.13585010
Iteration 181, loss = 0.12993796
Iteration 182, loss = 0.13882923
Iteration 183, loss = 0.13284293
Iteration 184, loss = 0.12438135
Iteration 185, loss = 0.13063702
Iteration 186, loss = 0.12755641
Iteration 187, loss = 0.12013599
Iteration 188, loss = 0.11436596
Iteration 189, loss = 0.11166379
Iteration 190, loss = 0.11062447
Iteration 191, loss = 0.10936041
Iteration 192, loss = 0.10505666
Iteration 193, loss = 0.10704676
Iteration 194, loss = 0.09740118
Iteration 195, loss = 0.10622609
Iteration 196, loss = 0.09367720
Iteration 197, loss = 0.09745342
Iteration 198, loss = 0.09891881
Iteration 199, loss = 0.09048271
Iteration 200, loss = 0.08904289
Iteration 201, loss = 0.08698558
Iteration 202, loss = 0.08631819
Iteration 203, loss = 0.08571934
Iteration 204, loss = 0.08166796
Iteration 205, loss = 0.08322354
Iteration 206, loss = 0.07694290
Iteration 207, loss = 0.08089277
Iteration 208, loss = 0.07317044
Iteration 209, loss = 0.08131401
Iteration 210, loss = 0.08977113
Iteration 211, loss = 0.08287852
Iteration 212, loss = 0.08815675
Iteration 213, loss = 0.07522075
Iteration 214, loss = 0.06878875
Iteration 215, loss = 0.07143955
Iteration 216, loss = 0.07173229
Iteration 217, loss = 0.06521728
Iteration 218, loss = 0.06552625
Iteration 219, loss = 0.06071554
Iteration 220, loss = 0.05949483
Iteration 221, loss = 0.05932095
Iteration 222, loss = 0.05858813
Iteration 223, loss = 0.05776346
Iteration 224, loss = 0.05845545
Iteration 225, loss = 0.05466736
Iteration 226, loss = 0.05210378
Iteration 227, loss = 0.05386695
Iteration 228, loss = 0.05117846
Iteration 229, loss = 0.05190351
Iteration 230, loss = 0.05197578
Iteration 231, loss = 0.05299839
Iteration 232, loss = 0.05759302
Iteration 233, loss = 0.05886098
Iteration 234, loss = 0.04970810
Iteration 235, loss = 0.04878307
Iteration 236, loss = 0.05267114
Iteration 237, loss = 0.05298432
Iteration 238, loss = 0.05002623
Iteration 239, loss = 0.05286762
Iteration 240, loss = 0.05003693
Iteration 241, loss = 0.04432746
Iteration 242, loss = 0.05065832
Iteration 243, loss = 0.04272329
Iteration 244, loss = 0.04429591
Iteration 245, loss = 0.04148724
Iteration 246, loss = 0.03896921
Iteration 247, loss = 0.04297852
Iteration 248, loss = 0.04115834
Iteration 249, loss = 0.03921849
Iteration 250, loss = 0.04171771
Iteration 251, loss = 0.03879541
Iteration 252, loss = 0.04534562
Iteration 253, loss = 0.04112194
Iteration 254, loss = 0.03729806
Iteration 255, loss = 0.04063094
Iteration 256, loss = 0.03388950
Iteration 257, loss = 0.03371754
Iteration 258, loss = 0.03441758
Iteration 259, loss = 0.03130633
Iteration 260, loss = 0.03099968
Iteration 261, loss = 0.03417712
Iteration 262, loss = 0.03096492
Iteration 263, loss = 0.03021789
Iteration 264, loss = 0.02904076
Iteration 265, loss = 0.02810142
Iteration 266, loss = 0.02697656
Iteration 267, loss = 0.02647054
Iteration 268, loss = 0.02594407
Iteration 269, loss = 0.03089910
Iteration 270, loss = 0.03145890
Iteration 271, loss = 0.03484412
Iteration 272, loss = 0.03027657
Iteration 273, loss = 0.02886480
Iteration 274, loss = 0.02858050
Iteration 275, loss = 0.02602673
Iteration 276, loss = 0.02442472
Iteration 277, loss = 0.02445752
Iteration 278, loss = 0.02271733
Iteration 279, loss = 0.02148553
Iteration 280, loss = 0.02118517
Iteration 281, loss = 0.02138116
Iteration 282, loss = 0.02073974
Iteration 283, loss = 0.02047043
Iteration 284, loss = 0.01994883
Iteration 285, loss = 0.01954171
Iteration 286, loss = 0.02016037
Iteration 287, loss = 0.01917261
Iteration 288, loss = 0.01883878
Iteration 289, loss = 0.01907946
Iteration 290, loss = 0.01895694
Iteration 291, loss = 0.02102595
Iteration 292, loss = 0.02397867
Iteration 293, loss = 0.03728518
Iteration 294, loss = 0.03897445
Iteration 295, loss = 0.04019142
Iteration 296, loss = 0.03267026
Iteration 297, loss = 0.02474778
Iteration 298, loss = 0.05997186
Iteration 299, loss = 0.03108477
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.4935     0.6052  0.4935  0.4846

## 9. Save results file

In [15]:
results.to_csv('RESULTS/models_results_ctgan.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.4481     0.7106  0.4481  0.3740
1   KNN    0.4740     0.6214  0.4740  0.4471
2    DT    0.4351     0.5737  0.4351  0.3975
3   SVM    0.2662     0.3038  0.2662  0.2813
4   MLP    0.4935     0.6052  0.4935  0.4846