# TSTR SDV Dataset E

In [2]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [3]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [4]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/SDV/E_PimaIndiansDiabetes_Synthetic_SDV.csv')
categorical_columns = ['Outcome']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,145,129,37,230,41.9,0.854,34,1
1,8,112,77,38,108,37.7,1.187,38,0
2,1,114,64,44,260,30.7,0.065,24,0
3,3,194,83,29,293,35.5,0.689,24,0
4,2,70,65,26,-132,24.4,0.129,35,0
...,...,...,...,...,...,...,...,...,...
609,10,100,66,37,95,42.4,0.093,34,0
610,0,122,77,-2,180,14.2,0.246,34,0
611,6,126,62,32,119,25.4,0.673,48,0
612,2,181,81,28,118,34.5,0.888,38,1
613,3,163,74,33,117,33.8,0.277,15,0

In [5]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/E_PimaIndiansDiabetes_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0
...,...,...,...,...,...,...,...,...,...
149,9,165,88,0,0,30.4,0.302,49,1
150,1,77,56,30,56,33.3,1.251,24,0
151,8,95,72,0,0,36.8,0.485,57,0
152,2,146,70,38,360,28.0,0.337,29,1
153,8,74,70,40,49,35.3,0.705,39,0

In [6]:
target = 'Outcome'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(614, 9)
Outcome
0    455
1    159
dtype: int64
#####################################
Test data
(154, 9)
Outcome
0    99
1    55
dtype: int64

## 2. Pre-process training data

In [7]:
target = 'Outcome'
categorical_columns = None
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = None

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((614, 8), (614,))

## 3. Preprocess test data

In [8]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((154, 8), (154,))

## 4. Create a dataset to save the results

In [9]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [10]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.7208      0.723  0.7208  0.6886

## 5. Train and Evaluate KNeighbors Classifier

In [11]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.6883     0.6932  0.6883  0.6312

## 6. Train and evaluate Decision Tree Classifier

In [12]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.7143      0.707  0.7143  0.7086

## 7. Train and evaluate Support Vector Machines Classifier

In [13]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.4545      0.516  0.4545  0.4624

## 8. Train and evaluate Multilayer Perceptron Classifier

In [14]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.68600972
Iteration 2, loss = 0.63112641
Iteration 3, loss = 0.59592846
Iteration 4, loss = 0.57059009
Iteration 5, loss = 0.55093981
Iteration 6, loss = 0.53546930
Iteration 7, loss = 0.52324380
Iteration 8, loss = 0.51424131
Iteration 9, loss = 0.50761188
Iteration 10, loss = 0.50355189
Iteration 11, loss = 0.49968641
Iteration 12, loss = 0.49748692
Iteration 13, loss = 0.49443833
Iteration 14, loss = 0.49036675
Iteration 15, loss = 0.48777434
Iteration 16, loss = 0.48430242
Iteration 17, loss = 0.48337700
Iteration 18, loss = 0.48471694
Iteration 19, loss = 0.48349634
Iteration 20, loss = 0.48025099
Iteration 21, loss = 0.47656698
Iteration 22, loss = 0.47431296
Iteration 23, loss = 0.47124892
Iteration 24, loss = 0.47010242
Iteration 25, loss = 0.46756322
Iteration 26, loss = 0.46577180
Iteration 27, loss = 0.46428279
Iteration 28, loss = 0.46236898
Iteration 29, loss = 0.46099066
Iteration 30, loss = 0.45726967
Iteration 31, loss = 0.45701651
Iteration 32, loss = 0.46066716
Iteration 33, loss = 0.45703155
Iteration 34, loss = 0.45360951
Iteration 35, loss = 0.45412796
Iteration 36, loss = 0.45688357
Iteration 37, loss = 0.45224946
Iteration 38, loss = 0.45067091
Iteration 39, loss = 0.45124803
Iteration 40, loss = 0.45062000
Iteration 41, loss = 0.44621670
Iteration 42, loss = 0.44024833
Iteration 43, loss = 0.44137367
Iteration 44, loss = 0.44426193
Iteration 45, loss = 0.44041883
Iteration 46, loss = 0.43609672
Iteration 47, loss = 0.43642318
Iteration 48, loss = 0.43339719
Iteration 49, loss = 0.42942795
Iteration 50, loss = 0.43023992
Iteration 51, loss = 0.42879531
Iteration 52, loss = 0.42598161
Iteration 53, loss = 0.42123547
Iteration 54, loss = 0.41977815
Iteration 55, loss = 0.42573055
Iteration 56, loss = 0.42897471
Iteration 57, loss = 0.41560493
Iteration 58, loss = 0.41515270
Iteration 59, loss = 0.41012671
Iteration 60, loss = 0.40597296
Iteration 61, loss = 0.40469186
Iteration 62, loss = 0.40203275
Iteration 63, loss = 0.39926251
Iteration 64, loss = 0.39676598
Iteration 65, loss = 0.39905902
Iteration 66, loss = 0.40526742
Iteration 67, loss = 0.40455960
Iteration 68, loss = 0.39812143
Iteration 69, loss = 0.39438773
Iteration 70, loss = 0.39113326
Iteration 71, loss = 0.38926290
Iteration 72, loss = 0.38785644
Iteration 73, loss = 0.38359411
Iteration 74, loss = 0.38294086
Iteration 75, loss = 0.38229585
Iteration 76, loss = 0.38257178
Iteration 77, loss = 0.37515698
Iteration 78, loss = 0.37245635
Iteration 79, loss = 0.37106067
Iteration 80, loss = 0.37400713
Iteration 81, loss = 0.36606378
Iteration 82, loss = 0.36376476
Iteration 83, loss = 0.36339362
Iteration 84, loss = 0.35892380
Iteration 85, loss = 0.35717114
Iteration 86, loss = 0.35791820
Iteration 87, loss = 0.35361483
Iteration 88, loss = 0.35041815
Iteration 89, loss = 0.35135625
Iteration 90, loss = 0.34723189
Iteration 91, loss = 0.34147081
Iteration 92, loss = 0.34239267
Iteration 93, loss = 0.33859413
Iteration 94, loss = 0.33380551
Iteration 95, loss = 0.33108905
Iteration 96, loss = 0.33954303
Iteration 97, loss = 0.33059322
Iteration 98, loss = 0.32643029
Iteration 99, loss = 0.32496209
Iteration 100, loss = 0.32064343
Iteration 101, loss = 0.33223722
Iteration 102, loss = 0.31566443
Iteration 103, loss = 0.32031235
Iteration 104, loss = 0.31431781
Iteration 105, loss = 0.32506590
Iteration 106, loss = 0.31146421
Iteration 107, loss = 0.30555162
Iteration 108, loss = 0.29956207
Iteration 109, loss = 0.29288110
Iteration 110, loss = 0.29268556
Iteration 111, loss = 0.29166126
Iteration 112, loss = 0.28812736
Iteration 113, loss = 0.28773842
Iteration 114, loss = 0.28533470
Iteration 115, loss = 0.28105572
Iteration 116, loss = 0.27538761
Iteration 117, loss = 0.27173910
Iteration 118, loss = 0.27398349
Iteration 119, loss = 0.26722297
Iteration 120, loss = 0.27461932
Iteration 121, loss = 0.26514742
Iteration 122, loss = 0.26581483
Iteration 123, loss = 0.25969856
Iteration 124, loss = 0.26442056
Iteration 125, loss = 0.25901661
Iteration 126, loss = 0.24941007
Iteration 127, loss = 0.24925936
Iteration 128, loss = 0.24973096
Iteration 129, loss = 0.24529355
Iteration 130, loss = 0.23888057
Iteration 131, loss = 0.23267868
Iteration 132, loss = 0.23455111
Iteration 133, loss = 0.23811329
Iteration 134, loss = 0.23741668
Iteration 135, loss = 0.22708069
Iteration 136, loss = 0.23251869
Iteration 137, loss = 0.23695550
Iteration 138, loss = 0.23381954
Iteration 139, loss = 0.23101534
Iteration 140, loss = 0.22383724
Iteration 141, loss = 0.21232861
Iteration 142, loss = 0.20971489
Iteration 143, loss = 0.20176206
Iteration 144, loss = 0.20174560
Iteration 145, loss = 0.20128474
Iteration 146, loss = 0.19965528
Iteration 147, loss = 0.19651477
Iteration 148, loss = 0.18562375
Iteration 149, loss = 0.19945034
Iteration 150, loss = 0.19627597
Iteration 151, loss = 0.18845036
Iteration 152, loss = 0.18358999
Iteration 153, loss = 0.20802852
Iteration 154, loss = 0.18146962
Iteration 155, loss = 0.20498879
Iteration 156, loss = 0.18047508
Iteration 157, loss = 0.18258985
Iteration 158, loss = 0.17170639
Iteration 159, loss = 0.17202125
Iteration 160, loss = 0.16821937
Iteration 161, loss = 0.16985763
Iteration 162, loss = 0.16336447
Iteration 163, loss = 0.15494879
Iteration 164, loss = 0.15163454
Iteration 165, loss = 0.15059871
Iteration 166, loss = 0.14745077
Iteration 167, loss = 0.14620338
Iteration 168, loss = 0.14447940
Iteration 169, loss = 0.13852125
Iteration 170, loss = 0.13555061
Iteration 171, loss = 0.13320142
Iteration 172, loss = 0.13289226
Iteration 173, loss = 0.12993371
Iteration 174, loss = 0.13274623
Iteration 175, loss = 0.12809952
Iteration 176, loss = 0.12520396
Iteration 177, loss = 0.12649047
Iteration 178, loss = 0.12170209
Iteration 179, loss = 0.11751234
Iteration 180, loss = 0.11651377
Iteration 181, loss = 0.11909686
Iteration 182, loss = 0.12160368
Iteration 183, loss = 0.11380472
Iteration 184, loss = 0.12022982
Iteration 185, loss = 0.11179722
Iteration 186, loss = 0.10730520
Iteration 187, loss = 0.10493809
Iteration 188, loss = 0.10841495
Iteration 189, loss = 0.10209434
Iteration 190, loss = 0.09913986
Iteration 191, loss = 0.09572577
Iteration 192, loss = 0.09475233
Iteration 193, loss = 0.09130950
Iteration 194, loss = 0.09233030
Iteration 195, loss = 0.08602402
Iteration 196, loss = 0.08684056
Iteration 197, loss = 0.08318005
Iteration 198, loss = 0.08546772
Iteration 199, loss = 0.08543677
Iteration 200, loss = 0.08376914
Iteration 201, loss = 0.08138905
Iteration 202, loss = 0.08889609
Iteration 203, loss = 0.07820313
Iteration 204, loss = 0.09282959
Iteration 205, loss = 0.08066039
Iteration 206, loss = 0.08092713
Iteration 207, loss = 0.07302970
Iteration 208, loss = 0.07139220
Iteration 209, loss = 0.07064848
Iteration 210, loss = 0.07074925
Iteration 211, loss = 0.06986869
Iteration 212, loss = 0.06771369
Iteration 213, loss = 0.06663521
Iteration 214, loss = 0.06251604
Iteration 215, loss = 0.06187114
Iteration 216, loss = 0.06325782
Iteration 217, loss = 0.06237980
Iteration 218, loss = 0.05911980
Iteration 219, loss = 0.05934290
Iteration 220, loss = 0.05946906
Iteration 221, loss = 0.06288892
Iteration 222, loss = 0.06400417
Iteration 223, loss = 0.06454839
Iteration 224, loss = 0.06487055
Iteration 225, loss = 0.07070279
Iteration 226, loss = 0.05652864
Iteration 227, loss = 0.05603542
Iteration 228, loss = 0.05582722
Iteration 229, loss = 0.05189055
Iteration 230, loss = 0.05518093
Iteration 231, loss = 0.05102492
Iteration 232, loss = 0.04831124
Iteration 233, loss = 0.04900399
Iteration 234, loss = 0.04377301
Iteration 235, loss = 0.04355152
Iteration 236, loss = 0.04329705
Iteration 237, loss = 0.04518687
Iteration 238, loss = 0.04761752
Iteration 239, loss = 0.04365269
Iteration 240, loss = 0.04263396
Iteration 241, loss = 0.04179674
Iteration 242, loss = 0.04052272
Iteration 243, loss = 0.03904919
Iteration 244, loss = 0.04049107
Iteration 245, loss = 0.04248499
Iteration 246, loss = 0.06154844
Iteration 247, loss = 0.05867800
Iteration 248, loss = 0.04207802
Iteration 249, loss = 0.04935408
Iteration 250, loss = 0.04358037
Iteration 251, loss = 0.03769733
Iteration 252, loss = 0.03914665
Iteration 253, loss = 0.03507399
Iteration 254, loss = 0.03288257
Iteration 255, loss = 0.03193631
Iteration 256, loss = 0.03114343
Iteration 257, loss = 0.02992442
Iteration 258, loss = 0.02977562
Iteration 259, loss = 0.02932008
Iteration 260, loss = 0.02898446
Iteration 261, loss = 0.02810568
Iteration 262, loss = 0.02706224
Iteration 263, loss = 0.02752103
Iteration 264, loss = 0.02637806
Iteration 265, loss = 0.02515453
Iteration 266, loss = 0.02503420
Iteration 267, loss = 0.02474675
Iteration 268, loss = 0.02422130
Iteration 269, loss = 0.02358353
Iteration 270, loss = 0.02530748
Iteration 271, loss = 0.02359895
Iteration 272, loss = 0.02325642
Iteration 273, loss = 0.02245561
Iteration 274, loss = 0.02237540
Iteration 275, loss = 0.02153535
Iteration 276, loss = 0.02123824
Iteration 277, loss = 0.02098918
Iteration 278, loss = 0.02110219
Iteration 279, loss = 0.02113681
Iteration 280, loss = 0.02167656
Iteration 281, loss = 0.02229027
Iteration 282, loss = 0.02058743
Iteration 283, loss = 0.01940131
Iteration 284, loss = 0.01910261
Iteration 285, loss = 0.01835228
Iteration 286, loss = 0.01804174
Iteration 287, loss = 0.01822314
Iteration 288, loss = 0.01822822
Iteration 289, loss = 0.01789685
Iteration 290, loss = 0.01853210
Iteration 291, loss = 0.01858235
Iteration 292, loss = 0.01741944
Iteration 293, loss = 0.02128225
Iteration 294, loss = 0.01717490
Iteration 295, loss = 0.01703663
Iteration 296, loss = 0.01586970
Iteration 297, loss = 0.01609324
Iteration 298, loss = 0.01503765
Iteration 299, loss = 0.01476325
Iteration 300, loss = 0.01469742

  model  accuracy  precision  recall      f1
0   MLP    0.6494     0.6367  0.6494  0.6402

## 9. Save results file

In [15]:
results.to_csv('RESULTS/models_results_sdv.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.7208     0.7230  0.7208  0.6886
1   KNN    0.6883     0.6932  0.6883  0.6312
2    DT    0.7143     0.7070  0.7143  0.7086
3   SVM    0.4545     0.5160  0.4545  0.4624
4   MLP    0.6494     0.6367  0.6494  0.6402