# TSTR GM Dataset D

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/GM/D_ContraceptiveMethod_Synthetic_GM.csv')
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                        'standard_of_living_index','media_exposure','contraceptive_method_used']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,45,4,4,1,0,1,1,3,0,1
1,13,2,4,0,1,0,3,4,0,3
2,22,3,3,1,1,1,3,2,0,3
3,33,4,4,2,0,1,2,4,0,1
4,30,3,4,1,1,1,3,1,0,3
...,...,...,...,...,...,...,...,...,...,...
1173,43,4,2,2,0,1,2,2,0,1
1174,17,2,3,1,1,1,3,2,0,1
1175,36,4,4,7,1,0,1,3,0,2
1176,27,3,4,2,0,0,3,4,0,3
1177,30,1,4,0,1,1,2,3,0,3

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/D_ContraceptiveMethod_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,29,3,3,4,1,1,3,4,0,3
1,35,3,4,5,1,0,2,2,0,1
2,23,4,4,1,0,1,1,4,0,2
3,30,2,3,3,1,1,3,1,0,1
4,22,2,3,1,1,1,3,3,0,1
...,...,...,...,...,...,...,...,...,...,...
290,38,4,4,3,1,0,1,4,0,2
291,25,2,2,1,1,1,3,3,0,3
292,25,3,1,4,1,1,3,1,0,2
293,24,4,3,3,1,1,3,3,0,3
294,23,4,3,2,1,0,2,3,0,3

In [5]:
target = 'contraceptive_method_used'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(1178, 10)
contraceptive_method_used
1    466
2    267
3    445
dtype: int64
#####################################
Test data
(295, 10)
contraceptive_method_used
1    130
2     71
3     94
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'contraceptive_method_used'
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                       'standard_of_living_index','media_exposure']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1]), np.array([0, 1]), 
              np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((1178, 24), (1178,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((295, 24), (295,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.4339     0.4401  0.4339  0.4321

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.4576     0.4581  0.4576  0.4536

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.3763     0.3796  0.3763  0.3757

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.3797     0.3681  0.3797  0.3674

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 1.08136545
Iteration 2, loss = 1.05490502
Iteration 3, loss = 1.03708563
Iteration 4, loss = 1.02239355
Iteration 5, loss = 1.01088182
Iteration 6, loss = 1.00040271
Iteration 7, loss = 0.99281919
Iteration 8, loss = 0.98761361
Iteration 9, loss = 0.97957533
Iteration 10, loss = 0.97522872
Iteration 11, loss = 0.96803039
Iteration 12, loss = 0.96186536
Iteration 13, loss = 0.95727739
Iteration 14, loss = 0.95130678
Iteration 15, loss = 0.94582347
Iteration 16, loss = 0.94075382
Iteration 17, loss = 0.93452686
Iteration 18, loss = 0.93039136
Iteration 19, loss = 0.92280501
Iteration 20, loss = 0.91637700
Iteration 21, loss = 0.91025849
Iteration 22, loss = 0.90668468
Iteration 23, loss = 0.89940202
Iteration 24, loss = 0.89027354
Iteration 25, loss = 0.88648999
Iteration 26, loss = 0.88580416
Iteration 27, loss = 0.87684987
Iteration 28, loss = 0.86595807
Iteration 29, loss = 0.86435746
Iteration 30, loss = 0.85127183
Iteration 31, loss = 0.84467657
Iteration 32, loss = 0.83516427
Iteration 33, loss = 0.82769081
Iteration 34, loss = 0.81994581
Iteration 35, loss = 0.80936265
Iteration 36, loss = 0.80258745
Iteration 37, loss = 0.79572725
Iteration 38, loss = 0.78559876
Iteration 39, loss = 0.77777949
Iteration 40, loss = 0.76767701
Iteration 41, loss = 0.76186677
Iteration 42, loss = 0.75096098
Iteration 43, loss = 0.74318970
Iteration 44, loss = 0.73857393
Iteration 45, loss = 0.72924497
Iteration 46, loss = 0.72202428
Iteration 47, loss = 0.71621020
Iteration 48, loss = 0.71336049
Iteration 49, loss = 0.70085368
Iteration 50, loss = 0.68821969
Iteration 51, loss = 0.68114061
Iteration 52, loss = 0.67678255
Iteration 53, loss = 0.66520597
Iteration 54, loss = 0.66219433
Iteration 55, loss = 0.65185860
Iteration 56, loss = 0.63898111
Iteration 57, loss = 0.63182641
Iteration 58, loss = 0.62100734
Iteration 59, loss = 0.61032127
Iteration 60, loss = 0.61233815
Iteration 61, loss = 0.60825913
Iteration 62, loss = 0.60320445
Iteration 63, loss = 0.59072133
Iteration 64, loss = 0.57588110
Iteration 65, loss = 0.57766993
Iteration 66, loss = 0.56374990
Iteration 67, loss = 0.55611597
Iteration 68, loss = 0.54798932
Iteration 69, loss = 0.54809465
Iteration 70, loss = 0.53997937
Iteration 71, loss = 0.53512987
Iteration 72, loss = 0.53187016
Iteration 73, loss = 0.52397682
Iteration 74, loss = 0.52458677
Iteration 75, loss = 0.51390328
Iteration 76, loss = 0.51286368
Iteration 77, loss = 0.50719351
Iteration 78, loss = 0.50021439
Iteration 79, loss = 0.48895766
Iteration 80, loss = 0.48051279
Iteration 81, loss = 0.47814029
Iteration 82, loss = 0.46871737
Iteration 83, loss = 0.46254055
Iteration 84, loss = 0.45915445
Iteration 85, loss = 0.45582171
Iteration 86, loss = 0.45440140
Iteration 87, loss = 0.44979815
Iteration 88, loss = 0.44996533
Iteration 89, loss = 0.44137435
Iteration 90, loss = 0.42854825
Iteration 91, loss = 0.42859850
Iteration 92, loss = 0.42153374
Iteration 93, loss = 0.43097005
Iteration 94, loss = 0.42824166
Iteration 95, loss = 0.41797720
Iteration 96, loss = 0.40818216
Iteration 97, loss = 0.40401110
Iteration 98, loss = 0.40629274
Iteration 99, loss = 0.39650918
Iteration 100, loss = 0.40161378
Iteration 101, loss = 0.38985861
Iteration 102, loss = 0.39653603
Iteration 103, loss = 0.38640738
Iteration 104, loss = 0.38986244
Iteration 105, loss = 0.39101047
Iteration 106, loss = 0.37962055
Iteration 107, loss = 0.37188035
Iteration 108, loss = 0.36133140
Iteration 109, loss = 0.36100586
Iteration 110, loss = 0.35601545
Iteration 111, loss = 0.35279490
Iteration 112, loss = 0.35395355
Iteration 113, loss = 0.34658300
Iteration 114, loss = 0.34620068
Iteration 115, loss = 0.35233333
Iteration 116, loss = 0.33898993
Iteration 117, loss = 0.35020011
Iteration 118, loss = 0.34640607
Iteration 119, loss = 0.34030476
Iteration 120, loss = 0.34657460
Iteration 121, loss = 0.35405029
Iteration 122, loss = 0.34132652
Iteration 123, loss = 0.33034498
Iteration 124, loss = 0.33073697
Iteration 125, loss = 0.32312730
Iteration 126, loss = 0.31530533
Iteration 127, loss = 0.31467620
Iteration 128, loss = 0.31341488
Iteration 129, loss = 0.30411923
Iteration 130, loss = 0.30616288
Iteration 131, loss = 0.30291490
Iteration 132, loss = 0.29703679
Iteration 133, loss = 0.29823614
Iteration 134, loss = 0.30419000
Iteration 135, loss = 0.29295251
Iteration 136, loss = 0.29494853
Iteration 137, loss = 0.28447918
Iteration 138, loss = 0.28170434
Iteration 139, loss = 0.28924035
Iteration 140, loss = 0.28144326
Iteration 141, loss = 0.27889287
Iteration 142, loss = 0.27450137
Iteration 143, loss = 0.27248121
Iteration 144, loss = 0.27458501
Iteration 145, loss = 0.26836775
Iteration 146, loss = 0.26770945
Iteration 147, loss = 0.26108115
Iteration 148, loss = 0.27240643
Iteration 149, loss = 0.28375710
Iteration 150, loss = 0.28853836
Iteration 151, loss = 0.27637191
Iteration 152, loss = 0.26980984
Iteration 153, loss = 0.25860034
Iteration 154, loss = 0.25427284
Iteration 155, loss = 0.25396926
Iteration 156, loss = 0.25050657
Iteration 157, loss = 0.24897291
Iteration 158, loss = 0.25364170
Iteration 159, loss = 0.24724254
Iteration 160, loss = 0.24456178
Iteration 161, loss = 0.25499147
Iteration 162, loss = 0.24643954
Iteration 163, loss = 0.25286220
Iteration 164, loss = 0.24525508
Iteration 165, loss = 0.23825397
Iteration 166, loss = 0.24393481
Iteration 167, loss = 0.23565850
Iteration 168, loss = 0.24384739
Iteration 169, loss = 0.24847433
Iteration 170, loss = 0.23539823
Iteration 171, loss = 0.23668404
Iteration 172, loss = 0.24320457
Iteration 173, loss = 0.23441416
Iteration 174, loss = 0.24110669
Iteration 175, loss = 0.24539948
Iteration 176, loss = 0.24795866
Iteration 177, loss = 0.22304284
Iteration 178, loss = 0.22091557
Iteration 179, loss = 0.22674402
Iteration 180, loss = 0.22265337
Iteration 181, loss = 0.21830522
Iteration 182, loss = 0.21420887
Iteration 183, loss = 0.20606758
Iteration 184, loss = 0.21009131
Iteration 185, loss = 0.21689523
Iteration 186, loss = 0.21125088
Iteration 187, loss = 0.21961013
Iteration 188, loss = 0.21017432
Iteration 189, loss = 0.20946262
Iteration 190, loss = 0.21733440
Iteration 191, loss = 0.21987844
Iteration 192, loss = 0.20722467
Iteration 193, loss = 0.20719043
Iteration 194, loss = 0.20763069
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.4068     0.4194  0.4068  0.4114

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_gm.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.4339     0.4401  0.4339  0.4321
1   KNN    0.4576     0.4581  0.4576  0.4536
2    DT    0.3763     0.3796  0.3763  0.3757
3   SVM    0.3797     0.3681  0.3797  0.3674
4   MLP    0.4068     0.4194  0.4068  0.4114