# TSTR CTGAN Dataset D

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/CTGAN/D_ContraceptiveMethod_Synthetic_CTGAN.csv')
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                        'standard_of_living_index','media_exposure','contraceptive_method_used']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,21,2,4,3,1,1,3,3,0,3
1,19,3,3,9,1,1,1,4,1,1
2,14,4,4,2,1,1,1,2,0,3
3,26,4,4,1,1,1,1,4,0,3
4,30,3,4,0,1,1,2,2,0,2
...,...,...,...,...,...,...,...,...,...,...
1173,20,1,3,3,0,1,3,2,0,1
1174,16,1,4,4,1,0,3,2,0,3
1175,40,4,2,1,0,1,1,4,0,3
1176,34,3,4,3,1,1,3,2,0,3
1177,41,3,3,3,1,1,1,2,0,1

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/D_ContraceptiveMethod_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,29,3,3,4,1,1,3,4,0,3
1,35,3,4,5,1,0,2,2,0,1
2,23,4,4,1,0,1,1,4,0,2
3,30,2,3,3,1,1,3,1,0,1
4,22,2,3,1,1,1,3,3,0,1
...,...,...,...,...,...,...,...,...,...,...
290,38,4,4,3,1,0,1,4,0,2
291,25,2,2,1,1,1,3,3,0,3
292,25,3,1,4,1,1,3,1,0,2
293,24,4,3,3,1,1,3,3,0,3
294,23,4,3,2,1,0,2,3,0,3

In [5]:
target = 'contraceptive_method_used'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(1178, 10)
contraceptive_method_used
1    468
2    347
3    363
dtype: int64
#####################################
Test data
(295, 10)
contraceptive_method_used
1    130
2     71
3     94
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'contraceptive_method_used'
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                       'standard_of_living_index','media_exposure']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1]), np.array([0, 1]), 
              np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((1178, 24), (1178,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((295, 24), (295,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall     f1
0    RF    0.4136     0.4118  0.4136  0.412

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.3729     0.3597  0.3729  0.3595

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.3424     0.3542  0.3424  0.3464

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.3864     0.3751  0.3864  0.3779

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 1.10912507
Iteration 2, loss = 1.08131333
Iteration 3, loss = 1.07191198
Iteration 4, loss = 1.06171623
Iteration 5, loss = 1.05322127
Iteration 6, loss = 1.04426663
Iteration 7, loss = 1.03801883
Iteration 8, loss = 1.03150799
Iteration 9, loss = 1.02430214
Iteration 10, loss = 1.01848418
Iteration 11, loss = 1.01253083
Iteration 12, loss = 1.00425890
Iteration 13, loss = 0.99679328
Iteration 14, loss = 0.98982118
Iteration 15, loss = 0.98213786
Iteration 16, loss = 0.97426146
Iteration 17, loss = 0.96488959
Iteration 18, loss = 0.95887326
Iteration 19, loss = 0.94895504
Iteration 20, loss = 0.93984391
Iteration 21, loss = 0.93139084
Iteration 22, loss = 0.92212424
Iteration 23, loss = 0.91162346
Iteration 24, loss = 0.90590098
Iteration 25, loss = 0.89523965
Iteration 26, loss = 0.88428192
Iteration 27, loss = 0.87696075
Iteration 28, loss = 0.86591739
Iteration 29, loss = 0.85538267
Iteration 30, loss = 0.84223706
Iteration 31, loss = 0.83845381
Iteration 32, loss = 0.82678948
Iteration 33, loss = 0.81445256
Iteration 34, loss = 0.80646262
Iteration 35, loss = 0.79573939
Iteration 36, loss = 0.78317247
Iteration 37, loss = 0.77798676
Iteration 38, loss = 0.76545351
Iteration 39, loss = 0.74939042
Iteration 40, loss = 0.73860463
Iteration 41, loss = 0.72800863
Iteration 42, loss = 0.72069977
Iteration 43, loss = 0.71127667
Iteration 44, loss = 0.70020032
Iteration 45, loss = 0.69616082
Iteration 46, loss = 0.67920243
Iteration 47, loss = 0.67627201
Iteration 48, loss = 0.67251546
Iteration 49, loss = 0.66075334
Iteration 50, loss = 0.64212696
Iteration 51, loss = 0.63191172
Iteration 52, loss = 0.62975137
Iteration 53, loss = 0.61544719
Iteration 54, loss = 0.60783691
Iteration 55, loss = 0.60950077
Iteration 56, loss = 0.59650510
Iteration 57, loss = 0.60130106
Iteration 58, loss = 0.57597393
Iteration 59, loss = 0.57339273
Iteration 60, loss = 0.56388038
Iteration 61, loss = 0.55777264
Iteration 62, loss = 0.55203345
Iteration 63, loss = 0.55356265
Iteration 64, loss = 0.52830824
Iteration 65, loss = 0.52071518
Iteration 66, loss = 0.51188286
Iteration 67, loss = 0.50381415
Iteration 68, loss = 0.50754639
Iteration 69, loss = 0.49537352
Iteration 70, loss = 0.48558712
Iteration 71, loss = 0.47532514
Iteration 72, loss = 0.47111580
Iteration 73, loss = 0.46441899
Iteration 74, loss = 0.46019143
Iteration 75, loss = 0.45710864
Iteration 76, loss = 0.45454210
Iteration 77, loss = 0.43971131
Iteration 78, loss = 0.42824598
Iteration 79, loss = 0.42503391
Iteration 80, loss = 0.41654617
Iteration 81, loss = 0.41426022
Iteration 82, loss = 0.40547376
Iteration 83, loss = 0.40241704
Iteration 84, loss = 0.39378171
Iteration 85, loss = 0.39351439
Iteration 86, loss = 0.39085894
Iteration 87, loss = 0.38105028
Iteration 88, loss = 0.38352199
Iteration 89, loss = 0.37578147
Iteration 90, loss = 0.37000811
Iteration 91, loss = 0.36305581
Iteration 92, loss = 0.35408557
Iteration 93, loss = 0.34887233
Iteration 94, loss = 0.34263132
Iteration 95, loss = 0.33924171
Iteration 96, loss = 0.33232314
Iteration 97, loss = 0.32676588
Iteration 98, loss = 0.32087364
Iteration 99, loss = 0.31841025
Iteration 100, loss = 0.31272326
Iteration 101, loss = 0.31444311
Iteration 102, loss = 0.31029513
Iteration 103, loss = 0.30753211
Iteration 104, loss = 0.33474327
Iteration 105, loss = 0.31083263
Iteration 106, loss = 0.30243749
Iteration 107, loss = 0.29076609
Iteration 108, loss = 0.28509755
Iteration 109, loss = 0.28011223
Iteration 110, loss = 0.27315331
Iteration 111, loss = 0.27391350
Iteration 112, loss = 0.26992537
Iteration 113, loss = 0.27077858
Iteration 114, loss = 0.26242304
Iteration 115, loss = 0.26283209
Iteration 116, loss = 0.25146328
Iteration 117, loss = 0.24948752
Iteration 118, loss = 0.24414653
Iteration 119, loss = 0.24009343
Iteration 120, loss = 0.23744170
Iteration 121, loss = 0.23459386
Iteration 122, loss = 0.23120124
Iteration 123, loss = 0.23556970
Iteration 124, loss = 0.24391675
Iteration 125, loss = 0.24083360
Iteration 126, loss = 0.23704248
Iteration 127, loss = 0.24138582
Iteration 128, loss = 0.22216548
Iteration 129, loss = 0.21789049
Iteration 130, loss = 0.21594177
Iteration 131, loss = 0.21631969
Iteration 132, loss = 0.20971794
Iteration 133, loss = 0.22507860
Iteration 134, loss = 0.22298773
Iteration 135, loss = 0.22286222
Iteration 136, loss = 0.20525838
Iteration 137, loss = 0.19542050
Iteration 138, loss = 0.19522418
Iteration 139, loss = 0.19100665
Iteration 140, loss = 0.18695395
Iteration 141, loss = 0.18728558
Iteration 142, loss = 0.18246408
Iteration 143, loss = 0.17515517
Iteration 144, loss = 0.17895310
Iteration 145, loss = 0.17247344
Iteration 146, loss = 0.17390896
Iteration 147, loss = 0.16869139
Iteration 148, loss = 0.16711596
Iteration 149, loss = 0.17047554
Iteration 150, loss = 0.16521422
Iteration 151, loss = 0.16086588
Iteration 152, loss = 0.16001376
Iteration 153, loss = 0.15745411
Iteration 154, loss = 0.16565618
Iteration 155, loss = 0.15884462
Iteration 156, loss = 0.16682920
Iteration 157, loss = 0.16490317
Iteration 158, loss = 0.15168303
Iteration 159, loss = 0.15722951
Iteration 160, loss = 0.15373585
Iteration 161, loss = 0.14783363
Iteration 162, loss = 0.14265031
Iteration 163, loss = 0.14000395
Iteration 164, loss = 0.14232323
Iteration 165, loss = 0.13512863
Iteration 166, loss = 0.13649355
Iteration 167, loss = 0.13306975
Iteration 168, loss = 0.13166595
Iteration 169, loss = 0.13610244
Iteration 170, loss = 0.13529707
Iteration 171, loss = 0.13830127
Iteration 172, loss = 0.13481407
Iteration 173, loss = 0.13006226
Iteration 174, loss = 0.12799775
Iteration 175, loss = 0.12434693
Iteration 176, loss = 0.12241790
Iteration 177, loss = 0.11828378
Iteration 178, loss = 0.11747369
Iteration 179, loss = 0.11611389
Iteration 180, loss = 0.11075152
Iteration 181, loss = 0.11412028
Iteration 182, loss = 0.11020152
Iteration 183, loss = 0.10741604
Iteration 184, loss = 0.10664249
Iteration 185, loss = 0.10676709
Iteration 186, loss = 0.10724258
Iteration 187, loss = 0.12013532
Iteration 188, loss = 0.11274963
Iteration 189, loss = 0.11156897
Iteration 190, loss = 0.10698566
Iteration 191, loss = 0.10127795
Iteration 192, loss = 0.10321460
Iteration 193, loss = 0.10106704
Iteration 194, loss = 0.09804443
Iteration 195, loss = 0.09746422
Iteration 196, loss = 0.09928811
Iteration 197, loss = 0.10083175
Iteration 198, loss = 0.09464214
Iteration 199, loss = 0.09180544
Iteration 200, loss = 0.09259022
Iteration 201, loss = 0.08903568
Iteration 202, loss = 0.08862895
Iteration 203, loss = 0.08964526
Iteration 204, loss = 0.08898667
Iteration 205, loss = 0.09099979
Iteration 206, loss = 0.08626121
Iteration 207, loss = 0.08529106
Iteration 208, loss = 0.08626003
Iteration 209, loss = 0.08818135
Iteration 210, loss = 0.08434210
Iteration 211, loss = 0.08014983
Iteration 212, loss = 0.08072412
Iteration 213, loss = 0.08736117
Iteration 214, loss = 0.08348242
Iteration 215, loss = 0.08127153
Iteration 216, loss = 0.08056845
Iteration 217, loss = 0.08188666
Iteration 218, loss = 0.07939476
Iteration 219, loss = 0.08010008
Iteration 220, loss = 0.08376080
Iteration 221, loss = 0.07868119
Iteration 222, loss = 0.08476767
Iteration 223, loss = 0.07689082
Iteration 224, loss = 0.07953416
Iteration 225, loss = 0.07488407
Iteration 226, loss = 0.07603621
Iteration 227, loss = 0.07448660
Iteration 228, loss = 0.07948926
Iteration 229, loss = 0.07230723
Iteration 230, loss = 0.08163808
Iteration 231, loss = 0.07924984
Iteration 232, loss = 0.07632361
Iteration 233, loss = 0.07203636
Iteration 234, loss = 0.07000225
Iteration 235, loss = 0.06917452
Iteration 236, loss = 0.06603118
Iteration 237, loss = 0.06655095
Iteration 238, loss = 0.06596243
Iteration 239, loss = 0.06330796
Iteration 240, loss = 0.06282013
Iteration 241, loss = 0.06794155
Iteration 242, loss = 0.07471929
Iteration 243, loss = 0.06619948
Iteration 244, loss = 0.06755800
Iteration 245, loss = 0.06374786
Iteration 246, loss = 0.06581794
Iteration 247, loss = 0.06238381
Iteration 248, loss = 0.06484895
Iteration 249, loss = 0.06907092
Iteration 250, loss = 0.06217958
Iteration 251, loss = 0.06182248
Iteration 252, loss = 0.05923965
Iteration 253, loss = 0.05812632
Iteration 254, loss = 0.05686917
Iteration 255, loss = 0.05805056
Iteration 256, loss = 0.05520660
Iteration 257, loss = 0.05544080
Iteration 258, loss = 0.05760210
Iteration 259, loss = 0.05938400
Iteration 260, loss = 0.05820436
Iteration 261, loss = 0.05901220
Iteration 262, loss = 0.05691028
Iteration 263, loss = 0.05540011
Iteration 264, loss = 0.05386353
Iteration 265, loss = 0.05571450
Iteration 266, loss = 0.05380840
Iteration 267, loss = 0.05679185
Iteration 268, loss = 0.06547200
Iteration 269, loss = 0.07505411
Iteration 270, loss = 0.06335244
Iteration 271, loss = 0.07659451
Iteration 272, loss = 0.08592188
Iteration 273, loss = 0.06539125
Iteration 274, loss = 0.07334695
Iteration 275, loss = 0.06110944
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.3932     0.3994  0.3932  0.3953

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_ctgan.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.4136     0.4118  0.4136  0.4120
1   KNN    0.3729     0.3597  0.3729  0.3595
2    DT    0.3424     0.3542  0.3424  0.3464
3   SVM    0.3864     0.3751  0.3864  0.3779
4   MLP    0.3932     0.3994  0.3932  0.3953