# TSTR SDV Dataset D

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [4]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/SDV/D_ContraceptiveMethod_Synthetic_SDV.csv')
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                        'standard_of_living_index','media_exposure','contraceptive_method_used']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,31,4,1,3,1,1,1,3,0,3
1,44,2,4,7,1,1,3,3,0,1
2,27,4,4,1,1,0,3,4,0,1
3,35,3,4,4,1,1,2,3,0,3
4,26,3,2,3,1,1,2,2,0,1
...,...,...,...,...,...,...,...,...,...,...
1173,34,3,4,3,1,1,2,4,0,3
1174,31,3,4,2,1,0,1,3,0,3
1175,34,1,1,4,1,1,3,3,0,1
1176,46,1,4,2,1,1,3,3,0,1
1177,36,2,4,4,1,1,1,2,0,1

In [5]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/D_ContraceptiveMethod_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,wife_age,wife_education,husband_education,children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method_used
0,29,3,3,4,1,1,3,4,0,3
1,35,3,4,5,1,0,2,2,0,1
2,23,4,4,1,0,1,1,4,0,2
3,30,2,3,3,1,1,3,1,0,1
4,22,2,3,1,1,1,3,3,0,1
...,...,...,...,...,...,...,...,...,...,...
290,38,4,4,3,1,0,1,4,0,2
291,25,2,2,1,1,1,3,3,0,3
292,25,3,1,4,1,1,3,1,0,2
293,24,4,3,3,1,1,3,3,0,3
294,23,4,3,2,1,0,2,3,0,3

In [6]:
target = 'contraceptive_method_used'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(1178, 10)
contraceptive_method_used
1    374
2    140
3    664
dtype: int64
#####################################
Test data
(295, 10)
contraceptive_method_used
1    130
2     71
3     94
dtype: int64

## 2. Pre-process training data

In [7]:
target = 'contraceptive_method_used'
categorical_columns = ['wife_education','husband_education','wife_religion','wife_working','husband_occupation',
                       'standard_of_living_index','media_exposure']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1]), np.array([0, 1]), 
              np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3]), np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((1178, 24), (1178,))

## 3. Preprocess test data

In [8]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((295, 24), (295,))

## 4. Create a dataset to save the results

In [9]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [10]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.3627     0.4165  0.3627  0.3433

## 5. Train and Evaluate KNeighbors Classifier

In [11]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall    f1
0   KNN    0.3356     0.2998  0.3356  0.28

## 6. Train and evaluate Decision Tree Classifier

In [12]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.3627     0.3615  0.3627  0.3477

## 7. Train and evaluate Support Vector Machines Classifier

In [13]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.4881     0.4577  0.4881  0.4366

## 8. Train and evaluate Multilayer Perceptron Classifier

In [14]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.97682252
Iteration 2, loss = 0.94079775
Iteration 3, loss = 0.93477751
Iteration 4, loss = 0.92830908
Iteration 5, loss = 0.92482960
Iteration 6, loss = 0.91859769
Iteration 7, loss = 0.91450494
Iteration 8, loss = 0.90927053
Iteration 9, loss = 0.90500298
Iteration 10, loss = 0.90149621
Iteration 11, loss = 0.89623028
Iteration 12, loss = 0.89145199
Iteration 13, loss = 0.88734489
Iteration 14, loss = 0.88189102
Iteration 15, loss = 0.87680530
Iteration 16, loss = 0.87246506
Iteration 17, loss = 0.86680071
Iteration 18, loss = 0.86036887
Iteration 19, loss = 0.85472642
Iteration 20, loss = 0.84991441
Iteration 21, loss = 0.84219383
Iteration 22, loss = 0.83893979
Iteration 23, loss = 0.83275204
Iteration 24, loss = 0.82495137
Iteration 25, loss = 0.82041792
Iteration 26, loss = 0.81301717
Iteration 27, loss = 0.80873797
Iteration 28, loss = 0.80011327
Iteration 29, loss = 0.79293666
Iteration 30, loss = 0.78790594
Iteration 31, loss = 0.78284804
Iteration 32, loss = 0.77712943
Iteration 33, loss = 0.76853957
Iteration 34, loss = 0.76347250
Iteration 35, loss = 0.75551309
Iteration 36, loss = 0.74881331
Iteration 37, loss = 0.74088719
Iteration 38, loss = 0.73404071
Iteration 39, loss = 0.72879199
Iteration 40, loss = 0.72235193
Iteration 41, loss = 0.71627805
Iteration 42, loss = 0.70698044
Iteration 43, loss = 0.70456993
Iteration 44, loss = 0.69846824
Iteration 45, loss = 0.69128580
Iteration 46, loss = 0.68497418
Iteration 47, loss = 0.67437292
Iteration 48, loss = 0.67670501
Iteration 49, loss = 0.66771620
Iteration 50, loss = 0.66598129
Iteration 51, loss = 0.66274417
Iteration 52, loss = 0.65810051
Iteration 53, loss = 0.64485351
Iteration 54, loss = 0.63787671
Iteration 55, loss = 0.63024635
Iteration 56, loss = 0.62671098
Iteration 57, loss = 0.61591436
Iteration 58, loss = 0.61896922
Iteration 59, loss = 0.61388734
Iteration 60, loss = 0.60441804
Iteration 61, loss = 0.59955867
Iteration 62, loss = 0.59606688
Iteration 63, loss = 0.58406969
Iteration 64, loss = 0.57916739
Iteration 65, loss = 0.57444982
Iteration 66, loss = 0.56679759
Iteration 67, loss = 0.56180919
Iteration 68, loss = 0.55833647
Iteration 69, loss = 0.55598137
Iteration 70, loss = 0.55014542
Iteration 71, loss = 0.54323699
Iteration 72, loss = 0.54319873
Iteration 73, loss = 0.53749852
Iteration 74, loss = 0.52976053
Iteration 75, loss = 0.52578101
Iteration 76, loss = 0.52703480
Iteration 77, loss = 0.51583375
Iteration 78, loss = 0.51117181
Iteration 79, loss = 0.50600637
Iteration 80, loss = 0.49859640
Iteration 81, loss = 0.49445741
Iteration 82, loss = 0.49042344
Iteration 83, loss = 0.48271762
Iteration 84, loss = 0.48091480
Iteration 85, loss = 0.47933317
Iteration 86, loss = 0.46915991
Iteration 87, loss = 0.47233210
Iteration 88, loss = 0.46537312
Iteration 89, loss = 0.46166132
Iteration 90, loss = 0.45564110
Iteration 91, loss = 0.45994811
Iteration 92, loss = 0.46215686
Iteration 93, loss = 0.45616338
Iteration 94, loss = 0.44506469
Iteration 95, loss = 0.43893317
Iteration 96, loss = 0.43364506
Iteration 97, loss = 0.42943640
Iteration 98, loss = 0.43006326
Iteration 99, loss = 0.42750452
Iteration 100, loss = 0.42609031
Iteration 101, loss = 0.41477918
Iteration 102, loss = 0.40987429
Iteration 103, loss = 0.40466075
Iteration 104, loss = 0.40884760
Iteration 105, loss = 0.40905757
Iteration 106, loss = 0.40431630
Iteration 107, loss = 0.39955991
Iteration 108, loss = 0.39306120
Iteration 109, loss = 0.39283885
Iteration 110, loss = 0.39401788
Iteration 111, loss = 0.40138264
Iteration 112, loss = 0.40079426
Iteration 113, loss = 0.39383774
Iteration 114, loss = 0.38654657
Iteration 115, loss = 0.37916988
Iteration 116, loss = 0.37467727
Iteration 117, loss = 0.37947788
Iteration 118, loss = 0.36911823
Iteration 119, loss = 0.36810738
Iteration 120, loss = 0.36487465
Iteration 121, loss = 0.36396609
Iteration 122, loss = 0.36197548
Iteration 123, loss = 0.36168063
Iteration 124, loss = 0.35407696
Iteration 125, loss = 0.35055403
Iteration 126, loss = 0.35038642
Iteration 127, loss = 0.34549735
Iteration 128, loss = 0.36153711
Iteration 129, loss = 0.35041826
Iteration 130, loss = 0.33800535
Iteration 131, loss = 0.33853532
Iteration 132, loss = 0.35322003
Iteration 133, loss = 0.35733274
Iteration 134, loss = 0.35492211
Iteration 135, loss = 0.35166632
Iteration 136, loss = 0.35375836
Iteration 137, loss = 0.33217624
Iteration 138, loss = 0.34616227
Iteration 139, loss = 0.33738141
Iteration 140, loss = 0.33017531
Iteration 141, loss = 0.33727782
Iteration 142, loss = 0.32007505
Iteration 143, loss = 0.31478063
Iteration 144, loss = 0.31243786
Iteration 145, loss = 0.31613907
Iteration 146, loss = 0.31373413
Iteration 147, loss = 0.31241026
Iteration 148, loss = 0.30935754
Iteration 149, loss = 0.30356936
Iteration 150, loss = 0.30791827
Iteration 151, loss = 0.30707444
Iteration 152, loss = 0.30843924
Iteration 153, loss = 0.29546724
Iteration 154, loss = 0.30412974
Iteration 155, loss = 0.29842105
Iteration 156, loss = 0.30246053
Iteration 157, loss = 0.28913138
Iteration 158, loss = 0.29286867
Iteration 159, loss = 0.29371772
Iteration 160, loss = 0.28355127
Iteration 161, loss = 0.29497884
Iteration 162, loss = 0.29038212
Iteration 163, loss = 0.28674842
Iteration 164, loss = 0.28033668
Iteration 165, loss = 0.28017926
Iteration 166, loss = 0.27575534
Iteration 167, loss = 0.27825368
Iteration 168, loss = 0.27236676
Iteration 169, loss = 0.28178833
Iteration 170, loss = 0.29146827
Iteration 171, loss = 0.28663296
Iteration 172, loss = 0.28806733
Iteration 173, loss = 0.27765891
Iteration 174, loss = 0.27850836
Iteration 175, loss = 0.27286486
Iteration 176, loss = 0.26255427
Iteration 177, loss = 0.26504821
Iteration 178, loss = 0.25720394
Iteration 179, loss = 0.25706653
Iteration 180, loss = 0.25510895
Iteration 181, loss = 0.26429044
Iteration 182, loss = 0.26554703
Iteration 183, loss = 0.26738718
Iteration 184, loss = 0.25327967
Iteration 185, loss = 0.24736347
Iteration 186, loss = 0.24611002
Iteration 187, loss = 0.24438283
Iteration 188, loss = 0.24460840
Iteration 189, loss = 0.24831216
Iteration 190, loss = 0.25792771
Iteration 191, loss = 0.25204375
Iteration 192, loss = 0.24608491
Iteration 193, loss = 0.25471245
Iteration 194, loss = 0.23918080
Iteration 195, loss = 0.24267818
Iteration 196, loss = 0.23671903
Iteration 197, loss = 0.23623856
Iteration 198, loss = 0.23223009
Iteration 199, loss = 0.23635985
Iteration 200, loss = 0.23589412
Iteration 201, loss = 0.24592392
Iteration 202, loss = 0.24880756
Iteration 203, loss = 0.24140040
Iteration 204, loss = 0.23833381
Iteration 205, loss = 0.23628269
Iteration 206, loss = 0.24432949
Iteration 207, loss = 0.24346129
Iteration 208, loss = 0.24514319
Iteration 209, loss = 0.23185811
Iteration 210, loss = 0.24063499
Iteration 211, loss = 0.23906943
Iteration 212, loss = 0.22181952
Iteration 213, loss = 0.21914549
Iteration 214, loss = 0.21940730
Iteration 215, loss = 0.21873007
Iteration 216, loss = 0.21897343
Iteration 217, loss = 0.21931040
Iteration 218, loss = 0.22488479
Iteration 219, loss = 0.22327053
Iteration 220, loss = 0.22693257
Iteration 221, loss = 0.21790971
Iteration 222, loss = 0.21716564
Iteration 223, loss = 0.21485932
Iteration 224, loss = 0.21598669
Iteration 225, loss = 0.21130265
Iteration 226, loss = 0.21637408
Iteration 227, loss = 0.22552398
Iteration 228, loss = 0.22457704
Iteration 229, loss = 0.21380952
Iteration 230, loss = 0.21093585
Iteration 231, loss = 0.21518372
Iteration 232, loss = 0.20674557
Iteration 233, loss = 0.20405724
Iteration 234, loss = 0.20658928
Iteration 235, loss = 0.20308862
Iteration 236, loss = 0.21874045
Iteration 237, loss = 0.20854696
Iteration 238, loss = 0.20462106
Iteration 239, loss = 0.20075243
Iteration 240, loss = 0.20350513
Iteration 241, loss = 0.20554527
Iteration 242, loss = 0.20573872
Iteration 243, loss = 0.19873128
Iteration 244, loss = 0.20410378
Iteration 245, loss = 0.20148780
Iteration 246, loss = 0.19954039
Iteration 247, loss = 0.20336336
Iteration 248, loss = 0.19943535
Iteration 249, loss = 0.19487851
Iteration 250, loss = 0.19552799
Iteration 251, loss = 0.19065738
Iteration 252, loss = 0.20671911
Iteration 253, loss = 0.20938559
Iteration 254, loss = 0.19404940
Iteration 255, loss = 0.19370612
Iteration 256, loss = 0.19942695
Iteration 257, loss = 0.19729836
Iteration 258, loss = 0.21194737
Iteration 259, loss = 0.21425361
Iteration 260, loss = 0.21706650
Iteration 261, loss = 0.20090992
Iteration 262, loss = 0.19680772
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.3729     0.4035  0.3729  0.3538

## 9. Save results file

In [15]:
results.to_csv('RESULTS/models_results_sdv.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.3627     0.4165  0.3627  0.3433
1   KNN    0.3356     0.2998  0.3356  0.2800
2    DT    0.3627     0.3615  0.3627  0.3477
3   SVM    0.4881     0.4577  0.4881  0.4366
4   MLP    0.3729     0.4035  0.3729  0.3538