# TSTR CTGAN Dataset B - Cardio

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/CTGAN/B_Cardio_Data_Synthetic_CTGAN.csv')
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active','cardio']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,95179,20434,2,171,72.9,133,84,3,1,0,0,1,1
1,66469,19869,1,159,73.5,175,95,1,1,1,0,1,1
2,48068,18480,1,169,60.7,119,76,1,1,0,0,1,1
3,32289,21122,1,162,83.5,104,74,1,1,0,0,1,1
4,40044,18057,2,171,93.0,137,78,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,89136,20408,1,171,94.8,134,80,1,1,0,0,1,1
55996,67066,14787,2,172,52.4,118,77,1,1,0,0,1,0
55997,39692,19069,2,174,79.8,92,70,1,1,0,0,1,0
55998,87110,21793,1,162,62.7,141,91,1,1,0,0,1,1
55999,71191,21103,2,170,93.5,104,74,2,2,0,0,1,1

In [5]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/B_Cardio_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,66728,21770,1,156,64.0,140,80,2,1,0,0,1,1
1,69098,21876,1,170,85.0,160,90,1,1,0,0,1,1
2,59185,23270,1,151,90.0,130,80,1,1,0,0,1,1
3,49288,19741,1,159,97.0,120,80,1,1,0,0,1,1
4,62481,18395,1,164,68.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,30751,20490,2,172,70.0,120,80,1,1,0,0,0,1
13996,23253,16797,2,174,96.0,120,80,1,2,0,0,1,1
13997,34847,22607,1,165,66.0,110,80,1,1,0,0,0,0
13998,40118,19670,1,157,89.0,120,80,3,3,0,0,1,1
13999,90598,18320,2,176,83.0,140,90,1,1,1,0,0,1

In [6]:
target = 'cardio'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(56000, 13)
cardio
0    20570
1    35430
dtype: int64
#####################################
Test data
(14000, 13)
cardio
0    6988
1    7012
dtype: int64

## 2. Pre-process training data

In [7]:
target = 'cardio'
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active']
numerical_columns = numerical_columns = train_data.select_dtypes(include=['int64']).columns.tolist()
categories = [np.array(range(2)), np.array(range(3)), np.array(range(3)), np.array(range(2)), np.array(range(2)), 
            np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((56000, 19), (56000,))

## 3. Preprocess test data

In [8]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((14000, 19), (14000,))

## 4. Create a dataset to save the results

In [9]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [10]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    2.8s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    6.0s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.2s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.4s finished

  model  accuracy  precision  recall      f1
0    RF     0.644     0.6719   0.644  0.6287

## 5. Train and Evaluate KNeighbors Classifier

In [11]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall     f1
0   KNN     0.653     0.6638   0.653  0.647

## 6. Train and evaluate Decision Tree Classifier

In [12]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall     f1
0    DT    0.5859     0.5926  0.5859  0.578

## 7. Train and evaluate Support Vector Machines Classifier

In [13]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.5384     0.5734  0.5384  0.4744

## 8. Train and evaluate Multilayer Perceptron Classifier

In [14]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.56990161
Iteration 2, loss = 0.55790141
Iteration 3, loss = 0.55203003
Iteration 4, loss = 0.54931797
Iteration 5, loss = 0.54713549
Iteration 6, loss = 0.54500662
Iteration 7, loss = 0.54372376
Iteration 8, loss = 0.54271407
Iteration 9, loss = 0.54161450
Iteration 10, loss = 0.54008094
Iteration 11, loss = 0.54012957
Iteration 12, loss = 0.53943498
Iteration 13, loss = 0.53937687
Iteration 14, loss = 0.53836392
Iteration 15, loss = 0.53757202
Iteration 16, loss = 0.53709136
Iteration 17, loss = 0.53663309
Iteration 18, loss = 0.53597249
Iteration 19, loss = 0.53580286
Iteration 20, loss = 0.53515619
Iteration 21, loss = 0.53534494
Iteration 22, loss = 0.53454818
Iteration 23, loss = 0.53361696
Iteration 24, loss = 0.53276463
Iteration 25, loss = 0.53299493
Iteration 26, loss = 0.53238658
Iteration 27, loss = 0.53145746
Iteration 28, loss = 0.53120933
Iteration 29, loss = 0.53117800
Iteration 30, loss = 0.53004611
Iteration 31, loss = 0.53001969
Iteration 32, loss = 0.52859493
Iteration 33, loss = 0.52792682
Iteration 34, loss = 0.52766093
Iteration 35, loss = 0.52733510
Iteration 36, loss = 0.52665733
Iteration 37, loss = 0.52634442
Iteration 38, loss = 0.52551475
Iteration 39, loss = 0.52513493
Iteration 40, loss = 0.52451014
Iteration 41, loss = 0.52303191
Iteration 42, loss = 0.52311835
Iteration 43, loss = 0.52213691
Iteration 44, loss = 0.52169365
Iteration 45, loss = 0.52138696
Iteration 46, loss = 0.52062150
Iteration 47, loss = 0.52058827
Iteration 48, loss = 0.51901823
Iteration 49, loss = 0.51949343
Iteration 50, loss = 0.51850597
Iteration 51, loss = 0.51798037
Iteration 52, loss = 0.51711718
Iteration 53, loss = 0.51614143
Iteration 54, loss = 0.51582424
Iteration 55, loss = 0.51528255
Iteration 56, loss = 0.51365286
Iteration 57, loss = 0.51342663
Iteration 58, loss = 0.51323889
Iteration 59, loss = 0.51283390
Iteration 60, loss = 0.51285445
Iteration 61, loss = 0.51154519
Iteration 62, loss = 0.51079354
Iteration 63, loss = 0.51054660
Iteration 64, loss = 0.51029910
Iteration 65, loss = 0.51003003
Iteration 66, loss = 0.50854734
Iteration 67, loss = 0.50784702
Iteration 68, loss = 0.50667322
Iteration 69, loss = 0.50628771
Iteration 70, loss = 0.50582243
Iteration 71, loss = 0.50581361
Iteration 72, loss = 0.50479719
Iteration 73, loss = 0.50450425
Iteration 74, loss = 0.50370776
Iteration 75, loss = 0.50334588
Iteration 76, loss = 0.50286484
Iteration 77, loss = 0.50192701
Iteration 78, loss = 0.50170741
Iteration 79, loss = 0.50063012
Iteration 80, loss = 0.49937861
Iteration 81, loss = 0.49975611
Iteration 82, loss = 0.49878847
Iteration 83, loss = 0.49738859
Iteration 84, loss = 0.49817585
Iteration 85, loss = 0.49730701
Iteration 86, loss = 0.49722188
Iteration 87, loss = 0.49619419
Iteration 88, loss = 0.49585485
Iteration 89, loss = 0.49425657
Iteration 90, loss = 0.49462700
Iteration 91, loss = 0.49375128
Iteration 92, loss = 0.49239121
Iteration 93, loss = 0.49310049
Iteration 94, loss = 0.49190717
Iteration 95, loss = 0.49213106
Iteration 96, loss = 0.49082430
Iteration 97, loss = 0.48957478
Iteration 98, loss = 0.48898517
Iteration 99, loss = 0.48895778
Iteration 100, loss = 0.48811692
Iteration 101, loss = 0.48911495
Iteration 102, loss = 0.48753551
Iteration 103, loss = 0.48695751
Iteration 104, loss = 0.48575972
Iteration 105, loss = 0.48543292
Iteration 106, loss = 0.48582575
Iteration 107, loss = 0.48440913
Iteration 108, loss = 0.48391937
Iteration 109, loss = 0.48367980
Iteration 110, loss = 0.48272510
Iteration 111, loss = 0.48310727
Iteration 112, loss = 0.48232718
Iteration 113, loss = 0.48196364
Iteration 114, loss = 0.48124863
Iteration 115, loss = 0.48050708
Iteration 116, loss = 0.48020916
Iteration 117, loss = 0.47881944
Iteration 118, loss = 0.47902199
Iteration 119, loss = 0.47924729
Iteration 120, loss = 0.47887943
Iteration 121, loss = 0.47777827
Iteration 122, loss = 0.47710433
Iteration 123, loss = 0.47614660
Iteration 124, loss = 0.47687418
Iteration 125, loss = 0.47591276
Iteration 126, loss = 0.47516447
Iteration 127, loss = 0.47534542
Iteration 128, loss = 0.47478856
Iteration 129, loss = 0.47410167
Iteration 130, loss = 0.47380269
Iteration 131, loss = 0.47338589
Iteration 132, loss = 0.47155325
Iteration 133, loss = 0.47109351
Iteration 134, loss = 0.47098286
Iteration 135, loss = 0.47136408
Iteration 136, loss = 0.47028221
Iteration 137, loss = 0.47064173
Iteration 138, loss = 0.46929665
Iteration 139, loss = 0.46911377
Iteration 140, loss = 0.46871415
Iteration 141, loss = 0.46890736
Iteration 142, loss = 0.46822538
Iteration 143, loss = 0.46796772
Iteration 144, loss = 0.46679187
Iteration 145, loss = 0.46598372
Iteration 146, loss = 0.46646001
Iteration 147, loss = 0.46507851
Iteration 148, loss = 0.46515037
Iteration 149, loss = 0.46524905
Iteration 150, loss = 0.46576233
Iteration 151, loss = 0.46470163
Iteration 152, loss = 0.46358937
Iteration 153, loss = 0.46382575
Iteration 154, loss = 0.46300907
Iteration 155, loss = 0.46244817
Iteration 156, loss = 0.46242989
Iteration 157, loss = 0.46230889
Iteration 158, loss = 0.46190518
Iteration 159, loss = 0.46268150
Iteration 160, loss = 0.46181351
Iteration 161, loss = 0.46089173
Iteration 162, loss = 0.45977456
Iteration 163, loss = 0.45969257
Iteration 164, loss = 0.45952047
Iteration 165, loss = 0.45953492
Iteration 166, loss = 0.45882366
Iteration 167, loss = 0.45798683
Iteration 168, loss = 0.45732297
Iteration 169, loss = 0.45738701
Iteration 170, loss = 0.45728826
Iteration 171, loss = 0.45696065
Iteration 172, loss = 0.45633379
Iteration 173, loss = 0.45731509
Iteration 174, loss = 0.45592204
Iteration 175, loss = 0.45543194
Iteration 176, loss = 0.45541300
Iteration 177, loss = 0.45528722
Iteration 178, loss = 0.45429844
Iteration 179, loss = 0.45482366
Iteration 180, loss = 0.45458910
Iteration 181, loss = 0.45362469
Iteration 182, loss = 0.45258988
Iteration 183, loss = 0.45252435
Iteration 184, loss = 0.45251651
Iteration 185, loss = 0.45245947
Iteration 186, loss = 0.45149430
Iteration 187, loss = 0.45186579
Iteration 188, loss = 0.45134435
Iteration 189, loss = 0.45073465
Iteration 190, loss = 0.45179430
Iteration 191, loss = 0.45058482
Iteration 192, loss = 0.44981171
Iteration 193, loss = 0.44907028
Iteration 194, loss = 0.44843118
Iteration 195, loss = 0.44889118
Iteration 196, loss = 0.44878662
Iteration 197, loss = 0.44742706
Iteration 198, loss = 0.44843231
Iteration 199, loss = 0.44799177
Iteration 200, loss = 0.44729220
Iteration 201, loss = 0.44688377
Iteration 202, loss = 0.44735488
Iteration 203, loss = 0.44707648
Iteration 204, loss = 0.44612162
Iteration 205, loss = 0.44565393
Iteration 206, loss = 0.44607463
Iteration 207, loss = 0.44525930
Iteration 208, loss = 0.44612324
Iteration 209, loss = 0.44586626
Iteration 210, loss = 0.44505365
Iteration 211, loss = 0.44428501
Iteration 212, loss = 0.44469103
Iteration 213, loss = 0.44393976
Iteration 214, loss = 0.44291904
Iteration 215, loss = 0.44290736
Iteration 216, loss = 0.44304362
Iteration 217, loss = 0.44168787
Iteration 218, loss = 0.44251296
Iteration 219, loss = 0.44157522
Iteration 220, loss = 0.44224231
Iteration 221, loss = 0.44177902
Iteration 222, loss = 0.44167253
Iteration 223, loss = 0.44083008
Iteration 224, loss = 0.44216222
Iteration 225, loss = 0.43969384
Iteration 226, loss = 0.43843487
Iteration 227, loss = 0.43909090
Iteration 228, loss = 0.44015884
Iteration 229, loss = 0.43974184
Iteration 230, loss = 0.43983331
Iteration 231, loss = 0.43814800
Iteration 232, loss = 0.43898297
Iteration 233, loss = 0.43789788
Iteration 234, loss = 0.43905056
Iteration 235, loss = 0.43820068
Iteration 236, loss = 0.43781202
Iteration 237, loss = 0.43614034
Iteration 238, loss = 0.43740349
Iteration 239, loss = 0.43723553
Iteration 240, loss = 0.43753109
Iteration 241, loss = 0.43547061
Iteration 242, loss = 0.43855786
Iteration 243, loss = 0.43649790
Iteration 244, loss = 0.43654130
Iteration 245, loss = 0.43634034
Iteration 246, loss = 0.43651731
Iteration 247, loss = 0.43548359
Iteration 248, loss = 0.43429614
Iteration 249, loss = 0.43396446
Iteration 250, loss = 0.43426002
Iteration 251, loss = 0.43248998
Iteration 252, loss = 0.43321975
Iteration 253, loss = 0.43274121
Iteration 254, loss = 0.43416414
Iteration 255, loss = 0.43274938
Iteration 256, loss = 0.43147424
Iteration 257, loss = 0.43346817
Iteration 258, loss = 0.43309024
Iteration 259, loss = 0.43189906
Iteration 260, loss = 0.43167977
Iteration 261, loss = 0.43051372
Iteration 262, loss = 0.43163062
Iteration 263, loss = 0.43329576
Iteration 264, loss = 0.43255248
Iteration 265, loss = 0.42992856
Iteration 266, loss = 0.43028379
Iteration 267, loss = 0.43017283
Iteration 268, loss = 0.43008210
Iteration 269, loss = 0.43141091
Iteration 270, loss = 0.42898474
Iteration 271, loss = 0.42903527
Iteration 272, loss = 0.43038038
Iteration 273, loss = 0.42786566
Iteration 274, loss = 0.42956797
Iteration 275, loss = 0.42930137
Iteration 276, loss = 0.42859028
Iteration 277, loss = 0.42882018
Iteration 278, loss = 0.42965345
Iteration 279, loss = 0.42755659
Iteration 280, loss = 0.42810236
Iteration 281, loss = 0.42735524
Iteration 282, loss = 0.42850670
Iteration 283, loss = 0.42793335
Iteration 284, loss = 0.42696387
Iteration 285, loss = 0.42684120
Iteration 286, loss = 0.42678577
Iteration 287, loss = 0.42640850
Iteration 288, loss = 0.42583109
Iteration 289, loss = 0.42593929
Iteration 290, loss = 0.42495685
Iteration 291, loss = 0.42664026
Iteration 292, loss = 0.42687770
Iteration 293, loss = 0.42576992
Iteration 294, loss = 0.42475878
Iteration 295, loss = 0.42449086
Iteration 296, loss = 0.42516595
Iteration 297, loss = 0.42496686
Iteration 298, loss = 0.42486295
Iteration 299, loss = 0.42504064
Iteration 300, loss = 0.42470298

  model  accuracy  precision  recall      f1
0   MLP    0.6174     0.6337  0.6174  0.6051

## 9. Save results file

In [15]:
results.to_csv('RESULTS/models_results_ctgan.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.6440     0.6719  0.6440  0.6287
1   KNN    0.6530     0.6638  0.6530  0.6470
2    DT    0.5859     0.5926  0.5859  0.5780
3   SVM    0.5384     0.5734  0.5384  0.4744
4   MLP    0.6174     0.6337  0.6174  0.6051