# TSTR WGANGP Dataset B - Cardio

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH ='' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/WGANGP/B_Cardio_Data_Synthetic_WGANGP.csv')
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active','cardio']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,56228,18085,1,165,92.330704,131,89,1,1,0,0,0,1
1,53329,18063,1,165,90.155136,130,79,1,1,0,0,0,1
2,47872,18119,1,165,78.922653,121,98,1,1,0,0,0,0
3,61915,18502,1,165,85.397675,135,102,1,1,0,0,1,1
4,52196,17734,1,165,92.626076,128,84,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,55651,17762,1,165,106.259781,134,76,1,1,0,0,0,1
55996,61439,18372,1,165,78.966408,128,72,1,1,0,0,1,0
55997,56393,17824,1,166,92.484062,125,82,1,1,0,0,0,1
55998,51686,17814,1,166,94.494011,128,82,1,1,0,0,0,0
55999,54681,17785,1,166,94.435616,119,85,1,1,0,0,0,1

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/B_Cardio_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,66728,21770,1,156,64.0,140,80,2,1,0,0,1,1
1,69098,21876,1,170,85.0,160,90,1,1,0,0,1,1
2,59185,23270,1,151,90.0,130,80,1,1,0,0,1,1
3,49288,19741,1,159,97.0,120,80,1,1,0,0,1,1
4,62481,18395,1,164,68.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,30751,20490,2,172,70.0,120,80,1,1,0,0,0,1
13996,23253,16797,2,174,96.0,120,80,1,2,0,0,1,1
13997,34847,22607,1,165,66.0,110,80,1,1,0,0,0,0
13998,40118,19670,1,157,89.0,120,80,3,3,0,0,1,1
13999,90598,18320,2,176,83.0,140,90,1,1,1,0,0,1

In [5]:
target = 'cardio'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(56000, 13)
cardio
0    31723
1    24277
dtype: int64
#####################################
Test data
(14000, 13)
cardio
0    6988
1    7012
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'cardio'
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active']
numerical_columns = numerical_columns = train_data.select_dtypes(include=['int64']).columns.tolist()
categories = [np.array(range(2)), np.array(range(3)), np.array(range(3)), np.array(range(2)), np.array(range(2)), 
            np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((56000, 19), (56000,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((14000, 19), (14000,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    6.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:   12.8s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.2s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.3s finished

  model  accuracy  precision  recall      f1
0    RF    0.6319     0.6611  0.6319  0.6148

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.5211     0.5258  0.5211  0.4999

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.6574     0.6729  0.6574  0.6498

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
svm_results['model'] = svm_results['model'].replace(['MLP'],'SVM')
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.4411     0.4288  0.4411  0.4151

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.26819569
Iteration 2, loss = 0.23105497
Iteration 3, loss = 0.22841676
Iteration 4, loss = 0.22683700
Iteration 5, loss = 0.22657570
Iteration 6, loss = 0.22540795
Iteration 7, loss = 0.22561905
Iteration 8, loss = 0.22422081
Iteration 9, loss = 0.22489462
Iteration 10, loss = 0.22525040
Iteration 11, loss = 0.22436458
Iteration 12, loss = 0.22446932
Iteration 13, loss = 0.22405444
Iteration 14, loss = 0.22426129
Iteration 15, loss = 0.22424545
Iteration 16, loss = 0.22344121
Iteration 17, loss = 0.22366558
Iteration 18, loss = 0.22376931
Iteration 19, loss = 0.22359271
Iteration 20, loss = 0.22378650
Iteration 21, loss = 0.22299282
Iteration 22, loss = 0.22354987
Iteration 23, loss = 0.22260238
Iteration 24, loss = 0.22270431
Iteration 25, loss = 0.22274642
Iteration 26, loss = 0.22269832
Iteration 27, loss = 0.22261701
Iteration 28, loss = 0.22233405
Iteration 29, loss = 0.22207702
Iteration 30, loss = 0.22232760
Iteration 31, loss = 0.22213365
Iteration 32, loss = 0.22177057
Iteration 33, loss = 0.22180347
Iteration 34, loss = 0.22144473
Iteration 35, loss = 0.22201642
Iteration 36, loss = 0.22155077
Iteration 37, loss = 0.22135497
Iteration 38, loss = 0.22191879
Iteration 39, loss = 0.22118410
Iteration 40, loss = 0.22165996
Iteration 41, loss = 0.22117053
Iteration 42, loss = 0.22110970
Iteration 43, loss = 0.22094499
Iteration 44, loss = 0.22104424
Iteration 45, loss = 0.22071726
Iteration 46, loss = 0.22070627
Iteration 47, loss = 0.22064273
Iteration 48, loss = 0.22036179
Iteration 49, loss = 0.22037174
Iteration 50, loss = 0.22075546
Iteration 51, loss = 0.21987743
Iteration 52, loss = 0.22083568
Iteration 53, loss = 0.21996264
Iteration 54, loss = 0.21981701
Iteration 55, loss = 0.21969267
Iteration 56, loss = 0.21984309
Iteration 57, loss = 0.21958808
Iteration 58, loss = 0.21966623
Iteration 59, loss = 0.21942951
Iteration 60, loss = 0.21942402
Iteration 61, loss = 0.21900990
Iteration 62, loss = 0.21921937
Iteration 63, loss = 0.21916954
Iteration 64, loss = 0.21910000
Iteration 65, loss = 0.21919256
Iteration 66, loss = 0.21880413
Iteration 67, loss = 0.21908910
Iteration 68, loss = 0.21863563
Iteration 69, loss = 0.21836004
Iteration 70, loss = 0.21854392
Iteration 71, loss = 0.21809205
Iteration 72, loss = 0.21804758
Iteration 73, loss = 0.21853277
Iteration 74, loss = 0.21779936
Iteration 75, loss = 0.21771933
Iteration 76, loss = 0.21744860
Iteration 77, loss = 0.21786414
Iteration 78, loss = 0.21804006
Iteration 79, loss = 0.21703005
Iteration 80, loss = 0.21711295
Iteration 81, loss = 0.21680430
Iteration 82, loss = 0.21697749
Iteration 83, loss = 0.21678673
Iteration 84, loss = 0.21658852
Iteration 85, loss = 0.21661652
Iteration 86, loss = 0.21626313
Iteration 87, loss = 0.21659900
Iteration 88, loss = 0.21637973
Iteration 89, loss = 0.21618954
Iteration 90, loss = 0.21617211
Iteration 91, loss = 0.21581183
Iteration 92, loss = 0.21570886
Iteration 93, loss = 0.21575316
Iteration 94, loss = 0.21555307
Iteration 95, loss = 0.21524893
Iteration 96, loss = 0.21536814
Iteration 97, loss = 0.21505813
Iteration 98, loss = 0.21509959
Iteration 99, loss = 0.21509744
Iteration 100, loss = 0.21513326
Iteration 101, loss = 0.21463365
Iteration 102, loss = 0.21469230
Iteration 103, loss = 0.21443804
Iteration 104, loss = 0.21425525
Iteration 105, loss = 0.21456035
Iteration 106, loss = 0.21397888
Iteration 107, loss = 0.21399983
Iteration 108, loss = 0.21398456
Iteration 109, loss = 0.21346149
Iteration 110, loss = 0.21366986
Iteration 111, loss = 0.21378070
Iteration 112, loss = 0.21331684
Iteration 113, loss = 0.21291713
Iteration 114, loss = 0.21279055
Iteration 115, loss = 0.21320579
Iteration 116, loss = 0.21272659
Iteration 117, loss = 0.21240917
Iteration 118, loss = 0.21255206
Iteration 119, loss = 0.21255420
Iteration 120, loss = 0.21216650
Iteration 121, loss = 0.21170816
Iteration 122, loss = 0.21221586
Iteration 123, loss = 0.21155689
Iteration 124, loss = 0.21211450
Iteration 125, loss = 0.21139243
Iteration 126, loss = 0.21172097
Iteration 127, loss = 0.21105338
Iteration 128, loss = 0.21152843
Iteration 129, loss = 0.21145654
Iteration 130, loss = 0.21103494
Iteration 131, loss = 0.21106745
Iteration 132, loss = 0.21082594
Iteration 133, loss = 0.21084874
Iteration 134, loss = 0.21053991
Iteration 135, loss = 0.21015754
Iteration 136, loss = 0.21032235
Iteration 137, loss = 0.21000522
Iteration 138, loss = 0.20997053
Iteration 139, loss = 0.21018361
Iteration 140, loss = 0.20945453
Iteration 141, loss = 0.20972155
Iteration 142, loss = 0.20924301
Iteration 143, loss = 0.20971852
Iteration 144, loss = 0.20887432
Iteration 145, loss = 0.20919132
Iteration 146, loss = 0.20855636
Iteration 147, loss = 0.20839209
Iteration 148, loss = 0.20864822
Iteration 149, loss = 0.20862279
Iteration 150, loss = 0.20850792
Iteration 151, loss = 0.20817500
Iteration 152, loss = 0.20817012
Iteration 153, loss = 0.20793098
Iteration 154, loss = 0.20764100
Iteration 155, loss = 0.20733908
Iteration 156, loss = 0.20758874
Iteration 157, loss = 0.20776231
Iteration 158, loss = 0.20699869
Iteration 159, loss = 0.20679560
Iteration 160, loss = 0.20648143
Iteration 161, loss = 0.20679343
Iteration 162, loss = 0.20640953
Iteration 163, loss = 0.20601814
Iteration 164, loss = 0.20591889
Iteration 165, loss = 0.20643654
Iteration 166, loss = 0.20593973
Iteration 167, loss = 0.20594146
Iteration 168, loss = 0.20555551
Iteration 169, loss = 0.20555148
Iteration 170, loss = 0.20552180
Iteration 171, loss = 0.20533821
Iteration 172, loss = 0.20502328
Iteration 173, loss = 0.20532147
Iteration 174, loss = 0.20520910
Iteration 175, loss = 0.20403017
Iteration 176, loss = 0.20480109
Iteration 177, loss = 0.20425371
Iteration 178, loss = 0.20462368
Iteration 179, loss = 0.20433742
Iteration 180, loss = 0.20431984
Iteration 181, loss = 0.20367662
Iteration 182, loss = 0.20322897
Iteration 183, loss = 0.20422569
Iteration 184, loss = 0.20308186
Iteration 185, loss = 0.20311604
Iteration 186, loss = 0.20386929
Iteration 187, loss = 0.20335483
Iteration 188, loss = 0.20304052
Iteration 189, loss = 0.20278255
Iteration 190, loss = 0.20273192
Iteration 191, loss = 0.20237420
Iteration 192, loss = 0.20244525
Iteration 193, loss = 0.20256433
Iteration 194, loss = 0.20205198
Iteration 195, loss = 0.20204849
Iteration 196, loss = 0.20193716
Iteration 197, loss = 0.20164929
Iteration 198, loss = 0.20167885
Iteration 199, loss = 0.20196388
Iteration 200, loss = 0.20156276
Iteration 201, loss = 0.20091378
Iteration 202, loss = 0.20154265
Iteration 203, loss = 0.20043186
Iteration 204, loss = 0.20135676
Iteration 205, loss = 0.20122617
Iteration 206, loss = 0.20058244
Iteration 207, loss = 0.20001313
Iteration 208, loss = 0.20060294
Iteration 209, loss = 0.20015080
Iteration 210, loss = 0.19986645
Iteration 211, loss = 0.19982560
Iteration 212, loss = 0.19951304
Iteration 213, loss = 0.19984861
Iteration 214, loss = 0.20045943
Iteration 215, loss = 0.19951811
Iteration 216, loss = 0.19897531
Iteration 217, loss = 0.19968922
Iteration 218, loss = 0.19899287
Iteration 219, loss = 0.19863223
Iteration 220, loss = 0.19897573
Iteration 221, loss = 0.19868848
Iteration 222, loss = 0.19847321
Iteration 223, loss = 0.19853476
Iteration 224, loss = 0.19777705
Iteration 225, loss = 0.19786875
Iteration 226, loss = 0.19892888
Iteration 227, loss = 0.19742822
Iteration 228, loss = 0.19765557
Iteration 229, loss = 0.19728273
Iteration 230, loss = 0.19739319
Iteration 231, loss = 0.19729771
Iteration 232, loss = 0.19807902
Iteration 233, loss = 0.19772885
Iteration 234, loss = 0.19726148
Iteration 235, loss = 0.19658932
Iteration 236, loss = 0.19718370
Iteration 237, loss = 0.19639090
Iteration 238, loss = 0.19638813
Iteration 239, loss = 0.19624791
Iteration 240, loss = 0.19614142
Iteration 241, loss = 0.19626661
Iteration 242, loss = 0.19585681
Iteration 243, loss = 0.19697758
Iteration 244, loss = 0.19590884
Iteration 245, loss = 0.19575002
Iteration 246, loss = 0.19524393
Iteration 247, loss = 0.19517680
Iteration 248, loss = 0.19585254
Iteration 249, loss = 0.19604880
Iteration 250, loss = 0.19543341
Iteration 251, loss = 0.19453137
Iteration 252, loss = 0.19499440
Iteration 253, loss = 0.19514364
Iteration 254, loss = 0.19458275
Iteration 255, loss = 0.19440859
Iteration 256, loss = 0.19380787
Iteration 257, loss = 0.19386136
Iteration 258, loss = 0.19444535
Iteration 259, loss = 0.19450511
Iteration 260, loss = 0.19356590
Iteration 261, loss = 0.19345526
Iteration 262, loss = 0.19435634
Iteration 263, loss = 0.19386980
Iteration 264, loss = 0.19435110
Iteration 265, loss = 0.19421187
Iteration 266, loss = 0.19338864
Iteration 267, loss = 0.19301963
Iteration 268, loss = 0.19320543
Iteration 269, loss = 0.19346338
Iteration 270, loss = 0.19325226
Iteration 271, loss = 0.19267620
Iteration 272, loss = 0.19287225
Iteration 273, loss = 0.19322920
Iteration 274, loss = 0.19204383
Iteration 275, loss = 0.19271586
Iteration 276, loss = 0.19246806
Iteration 277, loss = 0.19172001
Iteration 278, loss = 0.19211272
Iteration 279, loss = 0.19172166
Iteration 280, loss = 0.19190301
Iteration 281, loss = 0.19090478
Iteration 282, loss = 0.19127148
Iteration 283, loss = 0.19204016
Iteration 284, loss = 0.19180128
Iteration 285, loss = 0.19284738
Iteration 286, loss = 0.19105887
Iteration 287, loss = 0.19058890
Iteration 288, loss = 0.19075343
Iteration 289, loss = 0.19070578
Iteration 290, loss = 0.19103401
Iteration 291, loss = 0.19045023
Iteration 292, loss = 0.19059875
Iteration 293, loss = 0.19109415
Iteration 294, loss = 0.18994876
Iteration 295, loss = 0.19014534
Iteration 296, loss = 0.19055003
Iteration 297, loss = 0.19039914
Iteration 298, loss = 0.19062621
Iteration 299, loss = 0.19025338
Iteration 300, loss = 0.18876050

  model  accuracy  precision  recall      f1
0   MLP    0.5451     0.5707  0.5451  0.5011

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_wgangp.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.6319     0.6611  0.6319  0.6148
1   KNN    0.5211     0.5258  0.5211  0.4999
2    DT    0.6574     0.6729  0.6574  0.6498
3   SVM    0.4411     0.4288  0.4411  0.4151
4   MLP    0.5451     0.5707  0.5451  0.5011