# TSTR GM Dataset B - Cardio

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/GM/B_Cardio_Data_Synthetic_GM.csv')
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active','cardio']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,3540,14298,2,159,68.646934,141,97,1,1,0,0,1,0
1,8670,22551,1,149,72.531185,131,74,3,1,0,0,1,1
2,26537,22729,1,148,74.919117,140,108,2,1,0,0,1,1
3,16126,19467,1,160,86.949278,123,90,1,1,0,0,0,1
4,39966,22059,1,171,83.258253,116,81,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,61086,20098,1,156,60.735778,128,92,1,1,0,1,0,1
55996,95276,20522,2,154,88.455547,125,109,2,1,0,0,1,1
55997,49638,18805,1,165,79.951021,171,138,2,1,0,0,1,1
55998,30191,18800,2,164,66.637624,109,71,2,2,1,1,1,0
55999,39216,19840,2,168,68.232067,137,76,1,1,0,0,1,0

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/B_Cardio_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,66728,21770,1,156,64.0,140,80,2,1,0,0,1,1
1,69098,21876,1,170,85.0,160,90,1,1,0,0,1,1
2,59185,23270,1,151,90.0,130,80,1,1,0,0,1,1
3,49288,19741,1,159,97.0,120,80,1,1,0,0,1,1
4,62481,18395,1,164,68.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,30751,20490,2,172,70.0,120,80,1,1,0,0,0,1
13996,23253,16797,2,174,96.0,120,80,1,2,0,0,1,1
13997,34847,22607,1,165,66.0,110,80,1,1,0,0,0,0
13998,40118,19670,1,157,89.0,120,80,3,3,0,0,1,1
13999,90598,18320,2,176,83.0,140,90,1,1,1,0,0,1

In [5]:
target = 'cardio'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(56000, 13)
cardio
0    28085
1    27915
dtype: int64
#####################################
Test data
(14000, 13)
cardio
0    6988
1    7012
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'cardio'
categorical_columns = ['gender','cholesterol','gluc','smoke','alco','active']
numerical_columns = numerical_columns = train_data.select_dtypes(include=['int64']).columns.tolist()
categories = [np.array(range(2)), np.array(range(3)), np.array(range(3)), np.array(range(2)), np.array(range(2)), 
            np.array(range(2))]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((56000, 19), (56000,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((14000, 19), (14000,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    4.6s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    9.8s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.2s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.4s finished

  model  accuracy  precision  recall      f1
0    RF    0.6913     0.6916  0.6913  0.6911

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.6639     0.6662  0.6639  0.6628

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall     f1
0    DT    0.5915     0.5919  0.5915  0.591

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.5014     0.5012  0.5014  0.4893

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.61819761
Iteration 2, loss = 0.61329068
Iteration 3, loss = 0.61254985
Iteration 4, loss = 0.61213454
Iteration 5, loss = 0.61180809
Iteration 6, loss = 0.61118171
Iteration 7, loss = 0.61070403
Iteration 8, loss = 0.61039662
Iteration 9, loss = 0.61026354
Iteration 10, loss = 0.61002671
Iteration 11, loss = 0.60955571
Iteration 12, loss = 0.60929629
Iteration 13, loss = 0.60873465
Iteration 14, loss = 0.60860383
Iteration 15, loss = 0.60771089
Iteration 16, loss = 0.60736411
Iteration 17, loss = 0.60732555
Iteration 18, loss = 0.60673639
Iteration 19, loss = 0.60607919
Iteration 20, loss = 0.60504011
Iteration 21, loss = 0.60518320
Iteration 22, loss = 0.60412051
Iteration 23, loss = 0.60363053
Iteration 24, loss = 0.60299843
Iteration 25, loss = 0.60227453
Iteration 26, loss = 0.60164542
Iteration 27, loss = 0.60082596
Iteration 28, loss = 0.60056883
Iteration 29, loss = 0.59958381
Iteration 30, loss = 0.59917517
Iteration 31, loss = 0.59814336
Iteration 32, loss = 0.59768262
Iteration 33, loss = 0.59695510
Iteration 34, loss = 0.59593315
Iteration 35, loss = 0.59511486
Iteration 36, loss = 0.59451576
Iteration 37, loss = 0.59425409
Iteration 38, loss = 0.59275156
Iteration 39, loss = 0.59210214
Iteration 40, loss = 0.59132248
Iteration 41, loss = 0.59054322
Iteration 42, loss = 0.58939147
Iteration 43, loss = 0.58829902
Iteration 44, loss = 0.58761174
Iteration 45, loss = 0.58716054
Iteration 46, loss = 0.58585510
Iteration 47, loss = 0.58537211
Iteration 48, loss = 0.58415552
Iteration 49, loss = 0.58367241
Iteration 50, loss = 0.58318658
Iteration 51, loss = 0.58260382
Iteration 52, loss = 0.58088853
Iteration 53, loss = 0.58125624
Iteration 54, loss = 0.57958167
Iteration 55, loss = 0.57860931
Iteration 56, loss = 0.57864870
Iteration 57, loss = 0.57695464
Iteration 58, loss = 0.57620343
Iteration 59, loss = 0.57573983
Iteration 60, loss = 0.57458799
Iteration 61, loss = 0.57355672
Iteration 62, loss = 0.57243272
Iteration 63, loss = 0.57246102
Iteration 64, loss = 0.57162987
Iteration 65, loss = 0.57081180
Iteration 66, loss = 0.56944600
Iteration 67, loss = 0.56988425
Iteration 68, loss = 0.56822366
Iteration 69, loss = 0.56758717
Iteration 70, loss = 0.56727183
Iteration 71, loss = 0.56516029
Iteration 72, loss = 0.56483470
Iteration 73, loss = 0.56458299
Iteration 74, loss = 0.56419493
Iteration 75, loss = 0.56319302
Iteration 76, loss = 0.56192611
Iteration 77, loss = 0.56174884
Iteration 78, loss = 0.56112600
Iteration 79, loss = 0.56064885
Iteration 80, loss = 0.55936360
Iteration 81, loss = 0.55825436
Iteration 82, loss = 0.55806940
Iteration 83, loss = 0.55663921
Iteration 84, loss = 0.55711463
Iteration 85, loss = 0.55635398
Iteration 86, loss = 0.55649861
Iteration 87, loss = 0.55434045
Iteration 88, loss = 0.55399025
Iteration 89, loss = 0.55298838
Iteration 90, loss = 0.55319476
Iteration 91, loss = 0.55232513
Iteration 92, loss = 0.55096936
Iteration 93, loss = 0.55155521
Iteration 94, loss = 0.55095725
Iteration 95, loss = 0.55006983
Iteration 96, loss = 0.54909326
Iteration 97, loss = 0.54815574
Iteration 98, loss = 0.54823679
Iteration 99, loss = 0.54674751
Iteration 100, loss = 0.54716348
Iteration 101, loss = 0.54627384
Iteration 102, loss = 0.54505028
Iteration 103, loss = 0.54516917
Iteration 104, loss = 0.54440291
Iteration 105, loss = 0.54521864
Iteration 106, loss = 0.54292412
Iteration 107, loss = 0.54244655
Iteration 108, loss = 0.54230248
Iteration 109, loss = 0.54168188
Iteration 110, loss = 0.54198667
Iteration 111, loss = 0.54052885
Iteration 112, loss = 0.53993621
Iteration 113, loss = 0.53850794
Iteration 114, loss = 0.53906433
Iteration 115, loss = 0.53752820
Iteration 116, loss = 0.53678160
Iteration 117, loss = 0.53811425
Iteration 118, loss = 0.53642336
Iteration 119, loss = 0.53527809
Iteration 120, loss = 0.53569737
Iteration 121, loss = 0.53502140
Iteration 122, loss = 0.53422476
Iteration 123, loss = 0.53435179
Iteration 124, loss = 0.53350701
Iteration 125, loss = 0.53264617
Iteration 126, loss = 0.53238264
Iteration 127, loss = 0.53271242
Iteration 128, loss = 0.53102329
Iteration 129, loss = 0.53100659
Iteration 130, loss = 0.53093309
Iteration 131, loss = 0.52952196
Iteration 132, loss = 0.53045822
Iteration 133, loss = 0.52837990
Iteration 134, loss = 0.52897331
Iteration 135, loss = 0.52801671
Iteration 136, loss = 0.52836113
Iteration 137, loss = 0.52785439
Iteration 138, loss = 0.52804419
Iteration 139, loss = 0.52685316
Iteration 140, loss = 0.52575180
Iteration 141, loss = 0.52567973
Iteration 142, loss = 0.52606848
Iteration 143, loss = 0.52542433
Iteration 144, loss = 0.52478599
Iteration 145, loss = 0.52410277
Iteration 146, loss = 0.52307290
Iteration 147, loss = 0.52316618
Iteration 148, loss = 0.52262049
Iteration 149, loss = 0.52307615
Iteration 150, loss = 0.52242191
Iteration 151, loss = 0.52248234
Iteration 152, loss = 0.52148872
Iteration 153, loss = 0.52031822
Iteration 154, loss = 0.52005485
Iteration 155, loss = 0.52049269
Iteration 156, loss = 0.52064360
Iteration 157, loss = 0.52028186
Iteration 158, loss = 0.51917947
Iteration 159, loss = 0.51802501
Iteration 160, loss = 0.51764769
Iteration 161, loss = 0.51735100
Iteration 162, loss = 0.51701344
Iteration 163, loss = 0.51715543
Iteration 164, loss = 0.51591379
Iteration 165, loss = 0.51737071
Iteration 166, loss = 0.51718314
Iteration 167, loss = 0.51680944
Iteration 168, loss = 0.51562384
Iteration 169, loss = 0.51499044
Iteration 170, loss = 0.51414774
Iteration 171, loss = 0.51450582
Iteration 172, loss = 0.51295064
Iteration 173, loss = 0.51331516
Iteration 174, loss = 0.51235526
Iteration 175, loss = 0.51311983
Iteration 176, loss = 0.51172107
Iteration 177, loss = 0.51121526
Iteration 178, loss = 0.51124141
Iteration 179, loss = 0.51114992
Iteration 180, loss = 0.51001100
Iteration 181, loss = 0.50982727
Iteration 182, loss = 0.51022140
Iteration 183, loss = 0.50995795
Iteration 184, loss = 0.50952613
Iteration 185, loss = 0.51020932
Iteration 186, loss = 0.50994438
Iteration 187, loss = 0.50753674
Iteration 188, loss = 0.50619006
Iteration 189, loss = 0.50790535
Iteration 190, loss = 0.50686768
Iteration 191, loss = 0.50893414
Iteration 192, loss = 0.50617058
Iteration 193, loss = 0.50674552
Iteration 194, loss = 0.50653057
Iteration 195, loss = 0.50573080
Iteration 196, loss = 0.50501768
Iteration 197, loss = 0.50509578
Iteration 198, loss = 0.50584830
Iteration 199, loss = 0.50435695
Iteration 200, loss = 0.50350431
Iteration 201, loss = 0.50322725
Iteration 202, loss = 0.50255398
Iteration 203, loss = 0.50312062
Iteration 204, loss = 0.50199937
Iteration 205, loss = 0.50224603
Iteration 206, loss = 0.50354348
Iteration 207, loss = 0.50133751
Iteration 208, loss = 0.50016296
Iteration 209, loss = 0.50118595
Iteration 210, loss = 0.50207485
Iteration 211, loss = 0.49990359
Iteration 212, loss = 0.50060261
Iteration 213, loss = 0.50170961
Iteration 214, loss = 0.49917514
Iteration 215, loss = 0.49889162
Iteration 216, loss = 0.49816617
Iteration 217, loss = 0.49973595
Iteration 218, loss = 0.49965916
Iteration 219, loss = 0.49856522
Iteration 220, loss = 0.49738263
Iteration 221, loss = 0.49723539
Iteration 222, loss = 0.49721961
Iteration 223, loss = 0.49625417
Iteration 224, loss = 0.49650980
Iteration 225, loss = 0.49623147
Iteration 226, loss = 0.49680839
Iteration 227, loss = 0.49547167
Iteration 228, loss = 0.49666434
Iteration 229, loss = 0.49543478
Iteration 230, loss = 0.49557582
Iteration 231, loss = 0.49642868
Iteration 232, loss = 0.49614209
Iteration 233, loss = 0.49557967
Iteration 234, loss = 0.49455692
Iteration 235, loss = 0.49409653
Iteration 236, loss = 0.49286776
Iteration 237, loss = 0.49381352
Iteration 238, loss = 0.49338582
Iteration 239, loss = 0.49550333
Iteration 240, loss = 0.49295976
Iteration 241, loss = 0.49194882
Iteration 242, loss = 0.49144669
Iteration 243, loss = 0.49326708
Iteration 244, loss = 0.49178731
Iteration 245, loss = 0.49296878
Iteration 246, loss = 0.49019927
Iteration 247, loss = 0.49081549
Iteration 248, loss = 0.49136951
Iteration 249, loss = 0.49005015
Iteration 250, loss = 0.49146254
Iteration 251, loss = 0.48962011
Iteration 252, loss = 0.49033378
Iteration 253, loss = 0.48844466
Iteration 254, loss = 0.48982597
Iteration 255, loss = 0.48929199
Iteration 256, loss = 0.48888122
Iteration 257, loss = 0.48932230
Iteration 258, loss = 0.48870265
Iteration 259, loss = 0.48989232
Iteration 260, loss = 0.48901647
Iteration 261, loss = 0.48692475
Iteration 262, loss = 0.48591479
Iteration 263, loss = 0.48777194
Iteration 264, loss = 0.48864753
Iteration 265, loss = 0.48798207
Iteration 266, loss = 0.48708780
Iteration 267, loss = 0.48718995
Iteration 268, loss = 0.48601152
Iteration 269, loss = 0.48536535
Iteration 270, loss = 0.48972863
Iteration 271, loss = 0.48887144
Iteration 272, loss = 0.48675265
Iteration 273, loss = 0.48503269
Iteration 274, loss = 0.48485068
Iteration 275, loss = 0.48453638
Iteration 276, loss = 0.48510041
Iteration 277, loss = 0.48628223
Iteration 278, loss = 0.48429616
Iteration 279, loss = 0.48475549
Iteration 280, loss = 0.48371773
Iteration 281, loss = 0.48480914
Iteration 282, loss = 0.48246654
Iteration 283, loss = 0.48467413
Iteration 284, loss = 0.48363553
Iteration 285, loss = 0.48342688
Iteration 286, loss = 0.48196413
Iteration 287, loss = 0.48206889
Iteration 288, loss = 0.48306466
Iteration 289, loss = 0.48268776
Iteration 290, loss = 0.48242207
Iteration 291, loss = 0.48138094
Iteration 292, loss = 0.48275571
Iteration 293, loss = 0.48049199
Iteration 294, loss = 0.48141851
Iteration 295, loss = 0.48184540
Iteration 296, loss = 0.48175692
Iteration 297, loss = 0.48424934
Iteration 298, loss = inf
Iteration 299, loss = 0.48110872
Iteration 300, loss = 0.48152627

  model  accuracy  precision  recall     f1
0   MLP    0.6646     0.6658  0.6646  0.664

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_gm.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.6913     0.6916  0.6913  0.6911
1   KNN    0.6639     0.6662  0.6639  0.6628
2    DT    0.5915     0.5919  0.5915  0.5910
3   SVM    0.5014     0.5012  0.5014  0.4893
4   MLP    0.6646     0.6658  0.6646  0.6640